_site/
.sass-cache/
.jekyll-metadata
.bundle/
vendor/
/node_modules/
*.swp
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.toc
*.gz(busy)
*.DS_Store
*.bbl
*.blg
instructors_only/
2019/materials/day1-intro-ethics/instructors_only.zip
*.vrb
.Rproj.user
