{% assign current_year_str = site.current_year | downcase %}
{% for year in locations_by_year %}
  {% if current_year_str == year.year %}
    <ul>
      {% for year_location in year.locations %}
        {% assign apply_data = year_location.apply %}
        {% assign location_data = year_location.location %}
        {% if apply_data.title and location_data.apply_button != "hidden" %}
          <li><a href={{site.baseurl}}/{{location_data.year}}/{{location_data.link}}/apply>{{location_data.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
