<div class="list-group">
    <a href="#" class="list-group-item disabled active "><h5>Apply to a specific location</h5></a>
    <a class="list-group-item" href="#bamberg">Bamberg, Germany</a>
    <a class="list-group-item" href="#boston">Boston, Massachusetts</a>
    <a class="list-group-item" href="#boulder">Boulder, Colorado</a>
    <a class="list-group-item" href="#cape_town">Cape Town, South Africa</a>
    <a class="list-group-item" href="#chicago">Chicago, Illinois</a>
    <a class="list-group-item" href="#durham">Durham, North Carolina</a>
    <a class="list-group-item" href="#helsinki">Helsinki, Finland</a>
    <a class="list-group-item" href="#istanbul">Istanbul, Turkey</a>
    <a class="list-group-item" href="#los_angeles">Los Angeles, California</a>
    <a class="list-group-item" href="#monterrey">Monterrey, Mexico</a>
    <a class="list-group-item" href="#new_york">New York, New York</a>
    <a class="list-group-item" href="#oxford">Oxford, United Kingdom</a>
    <a class="list-group-item" href="#princeton">Princeton, New Jersey</a>
    <a class="list-group-item" href="#research_triangle_park">Research Triangle Park, North Carolina</a>
    <a class="list-group-item" href="#seattle">Seattle, Washington</a>
    <a class="list-group-item" href="#zurich">Zürich, Switzerland</a>
  </div>
  </br>