{% assign breadcrumbs = page.path | remove: ".md" | remove: "index" | split: "/" %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/{{site.baseurl}}">Home</a></li>
                    {% for breadcrumb in breadcrumbs %}
                    {% assign relative_breadcrumb_arr = breadcrumbs | slice:0, forloop.index %}
                    {% assign relative_breadcrumb_str = relative_breadcrumb_arr | join: "/" %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb | replace: "_", " " | capitalize | replace: "-", " " }}</li>
                        {% elsif breadcrumb == '_videos' %}
                            <li class="breadcrumb-item"><a href="{{site.baseurl | append: "/overview/" }}">Overview</a></li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="/{{site.baseurl}}{{relative_breadcrumb_str}}">{{ breadcrumb | replace: "_", " " | capitalize }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
</div>