{% assign curriculums = data.curriculum %}
{% if page.curriculum_data_path %}
    {% include get_data_by_path.inc data=data path=page.curriculum_data_path %}
    {% if data_by_path %}
        {% assign curriculums = data_by_path %}
    {% endif %}
{% endif %}

{% for curriculum in curriculums %}
    <div class="row" id="{{curriculum.id}}">
        <div class="col-sm-12">
            <hr class="mt-5 mb-4"/>
            <h3 class="h3 mb-4">{{curriculum.day}}:
                {{curriculum.topic}}</h3>
        </div>
        <!--/col-->
    </div>
    {% if curriculum.events %}
        {% for event in curriculum.events %}
            {% if event %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src={{event.video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>{{event.name}}</h3>
                        <ul class="nav flex-column">
                            {% if event.sublinks %}
                                {% for sublink in event.sublinks %}
                                    <li class="nav-item">
                                        <a href={{sublink.link}} class="nav-link">{{sublink.text}}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <hr class="my-5"/>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if curriculum.exercise %}
        <div class="row">
            <div class="col-md-12">
                <div class="card-header bg-white">
                    {{curriculum.day}}
                    {{curriculum.exercise_title}}
                </div>
                <ul class="list-group list-group-flush">
                    {% for exercise in curriculum.exercise %}
                        <li class="list-group-item">
                            <a href={{exercise.resource}} class="card-link">{{exercise.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endfor %}