<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#overview">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#day_1">Day 1: Introduction and Ethics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#day_2">Day 2: Collecting Digital Trace Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#day_3">Day 3: Automated Text Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#day_4">Day 4: Surveys in the Digital Age</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#day_5">Day 5: Mass Collaboration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#day_6">Day 6: Experiments</a>
  </li>
</ul>