{% if site.data[year].faculty %}
  <h1 id="faculty">Faculty</h1>
  <div class="row">
  {% for faculty in site.data[year].faculty %}
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4">
          <p><img class="img-responsive" src="{{ faculty.image }}" alt="Image of {{ faculty.name }}"></p>
        </div>
        <div class="col-sm-8">
          <h3 class="media-heading">{{ faculty.name }}</h3>
          <p>{{ faculty.bio }}</p>
          <p><a href="{{ faculty.website }}">Site</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
