<footer class="bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a class="" href="index.html">
          <img
            src="{{ site.baseurl }}/assets/images/sicss-logo.svg"
            width=""
            height="30"
            alt=""
          />
        </a>
        <p class="text-light py-3"><small>&copy; 2020 SICSS</small></p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 text-right">
            <div
              class="text-center p-3 mb-3 d-inline-block ml-auto"
              style="background-color: rgba(255, 255, 255, 0.10);"
            >
              <a
                href="https://www.youtube.com/@summerinstituteincomputati9729"
                target="_blank"
                class="text-light text-decoration-none"
              >
                Check out SICSS on YouTube
                <img
                  src="{{ site.baseurl }}/assets/images/logos/youtube_white_logo.png"
                  alt="YouTube Logo"
                  width="44"
                  height="44"
                  class="ml-2 align-middle"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul class="nav justify-content-end" style="margin-right: 18px;">
              <li class="nav-item">
                <a class="nav-link text-light" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-light"
                  data-toggle="collapse"
                  href="#collapseExample"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-light collapse"
                  id="collapseExample"
                  href="mailto:rsfcompsocsci@gmail.com"
                  >rsfcompsocsci@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="{{ base.url | prepend: site.url }}/assets/javascripts/lib/lunr.min.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/javascripts/site.js"></script>
