{% if data.hero %}
  <div class="hero {{ data.hero.style }}" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-content-wrapper">
            {% if data.hero.main %}
            <div class="main-location">
              <div class="hero-logo-wrapper">
                <img src="{{ site.baseurl }}/assets/images/sicss-large.png" class="hero-logo" title="Summer Institute in Computational Social Science" alt="Summer Institute in Computational Social Science">
              </div>
            </div>
            {% else %}
              <div class="hero-logo-wrapper">
                <img src="{{ site.baseurl }}/assets/images/sicss-large.png" class="hero-logo" title="Summer Institute in Computational Social Science" alt="Summer Institute in Computational Social Science">
              </div>
              <div class="hero-location">{{ data.hero.location }}</div>
              <div class="hero-location-subtitle">Summer Institute in Computational Social Science Partner Site</div>
            {% endif %}
          </div><!-- /hero-content-wrapper -->
        </div><!-- /col-xs-12 -->
      </div><!-- /row -->
    </div><!-- /container -->
    <div class="hero-overlay">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="hero-dates">{{ data.hero.header_2 }}</h2>
            {% if data.hero.header_3 %}
              <h3 class="partnership-title">{{ data.hero.header_3 }}</h3>
            {% endif %}
          </div><!-- /col-xs-12 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /hero-overlay -->
  </div><!-- /hero -->
{% endif %}
