{% if page.partner_site %}
  {% assign urlparts = page.url | split: "/" %}
  {% assign year = urlparts[1] %}
  {% assign location = urlparts[2] %}
  {% assign hero = site.data[year][location].hero %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-3 text-light">{{hero.location}}</h1>
          <p class="h4 text-light">{{hero.header_2}}</p>
        </div><!--/col-->
      </div><!--/row-->
    </div><!--container-->
  </div><!--/jumbotron-->
{% else %}
  {% assign hero = data.hero %}
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="display-3 text-light">{{page.title}}</h1>
            <p class="h4 text-light">{{page.subtitle}}</p>
          </div><!--/col-->
        </div><!--/row-->
      </div><!--container-->
    </div><!--/jumbotron-->
{% endif %}

