{% if data.hero %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-3 text-light">Summer Institute in Computational Social Science</h1>
          <p class="h4 text-light">Bringing together graduate students, postdoctoral researchers, and beginning faculty interested
            in computational social science for 2 weeks of intensive study.</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
