{% if include.location_data %}
  {% assign data = location_data %}
  {% assign apply = apply_data %}

    {% if data.title %}
      <div class="col-sm-6 mb-5">
        <div class="card border-0" id="{{data.link}}_{{data.year}}">
          {% if data.image %}
            {% assign image_prefix = data.image | slice: 0, 4 %}
            {% if image_prefix == "http" %}
              {% assign image_url = data.image %}
            {% else %}
              {% assign image_url = data.image | prepend: site.baseurl %}
            {% endif %}
            <img class="card-img-top" src="{{image_url}}" alt="Find a location">
            <div class="card-body">
              <h5 class="card-title">{{data.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{data.subtitle}}</h6>
              <p class="card-text">{{data.description}}</p>
              <a href="{{site.baseurl}}/{{data.year}}/{{data.link}}" class="btn btn-dark btn-sm stretched-link">Learn More</a>
              {% if apply.title %}
              <a href="{{site.baseurl}}/{{data.year}}/{{data.link}}/apply" class="btn btn-dark btn-sm stretched-link">Apply</a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

{% endif %}