<div class="tab-content" id="myTabContent">
  {% for year in locations_by_year %} {% if forloop.first == true %}
  <div
    class="tab-pane fade show active"
    id="year{{year.year}}"
    role="tabpanel"
    aria-labelledby="year{{year.year}}-tab"
  >
    {% else %}
    <div
      class="tab-pane fade"
      id="year{{year.year}}"
      role="tabpanel"
      aria-labelledby="year{{year.year}}-tab"
    >
      {% endif %}
      <div class="row">
        <div class="col-sm-12">
          <h3>{{year.year}}</h3>
        </div>
        {% for year_location in year.locations %} {% assign location_data =
        year_location.location %} {% assign apply_data = year_location.apply %}
        {% if location_data.image %} {% assign image_prefix =
        location_data.image | slice: 0, 4 %} {% if image_prefix == "http" %} {%
        assign image_url = location_data.image %} {% else %} {% assign image_url
        = location_data.image | prepend: site.baseurl %} {% endif %}
        <div class="col-sm-4 mb-5">
          <div class="card border-0" id="bamberg">
            <div class="embed-responsive embed-responsive-16by9">
              <img
                class="embed-responsive-item card-img-top"
                src="{{image_url}}"
                alt="Find a location"
                loading="lazy"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{location_data.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{location_data.subtitle}}
              </h6>
              <p class="card-text">{{location_data.description}}</p>
              <a
                href="{{site.baseurl}}/{{location_data.year}}/{{location_data.link}}"
                class="btn btn-dark btn-sm"
                >Learn More</a
              >
              {% if apply_data.title and location_data.apply_button != "hidden"
              %}
              <a
                href="{{site.baseurl}}/{{location_data.year}}/{{location_data.link}}/apply"
                class="btn btn-dark btn-sm"
                >Apply</a
              >
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      ...
    </div>
  </div>
  <!-- /tab-content -->
</div>
