<div class="col-md-4">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="{{page.dir | prepend: site.baseurl}}">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pre_arrival">Pre-arrival</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="people">People</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="schedule">Schedule & Materials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-dark d-xl-inline-flex mt-3 ml-3" href="apply">Apply</a>
    </li>
    <!-- <li class="nav-item mt-3">
      <a class="nav-link" href="#">2018</a>
    </li> -->
  </ul>
</div>