<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="bamberg.html">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="bamberg-pre-arrivial.html">Pre-arrival</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="bamberg-people.html">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="bamberg-schedule.html">Schedule & Materials</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-dark d-xl-inline-flex mt-3 ml-3" href="#">Apply</a>
  </li>
  <!-- <li class="nav-item mt-3">
    <a class="nav-link" href="#">2018</a>
  </li> -->
</ul>