{% if include.location_data and include.location_data.title %}
  <div class="col-sm-6 mb-5">
    <div class="card border-0" id="{{include.location_data.link}}_{{include.location_data.year}}">
      {% if include.location_data.image %}
        {% assign image_prefix = include.location_data.image | slice: 0, 4 %}
        {% if image_prefix == "http" %}
          {% assign image_url = include.location_data.image %}
        {% else %}
          {% assign image_url = include.location_data.image | prepend: site.baseurl %}
        {% endif %}
        <img class="card-img-top" src="{{image_url}}" alt="Find a location">
        <div class="card-body">
          <h5 class="card-title">{{include.location_data.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{include.location_data.subtitle}}</h6>
          <p class="card-text">{{include.location_data.description}}</p>
          <a href="{{site.baseurl}}/{{include.location_data.year}}/{{include.location_data.link}}" class="btn btn-dark btn-sm">Learn More</a>
          {% if include.apply_data.title and include.location_data.apply_button != "hidden" %}
          <a href="{{site.baseurl}}/{{include.location_data.year}}/{{include.location_data.link}}/apply" class="btn btn-dark btn-sm">Apply</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
