<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#2020">2020</a>
      <ul class="nav">
        <li class="nav-item ml-3">
          <a class="nav-link" href="bamberg.html">Bamberg, Germany</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#boston">Boston, Massachusetts</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#boulder">Boulder, Colorado</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#cape_town">Cape Town, South Africa</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#chicago">Chicago, Illinois</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#durham">Durham, North Carolina</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#2019">2019</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#2018">2018</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#2017">2017</a>
    </li>
    <!-- 
    <li class="nav-item">
      <a class="nav-link" href="#bamberg">Bamberg, Germany</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#boston">Boston, Massachusetts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#boulder">Boulder, Colorado</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#cape_town">Cape Town, South Africa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#chicago">Chicago, Illinois</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#durham">Durham, North Carolina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#helsinki">Helsinki, Finland</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#istanbul">Istanbul, Turkey</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#los_angeles">Los Angeles, California</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#monterrey">Monterrey, Mexico</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#new_york">New York, New York</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#oxford">Oxford, United Kingdom</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#princeton">Princeton, New Jersey</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#research_triangle_park">Research Triangle Park, North Carolina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#seattle">Seattle, Washington</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#zurich">Zürich, Switzerland</a>
    </li>
    -->
    <li class="nav-item">
      <a class="nav-link btn btn-dark d-xl-inline-flex mt-3 ml-3" href="host.html">Host a Location</a>
    </li>
  </ul>