{% assign locations = data.locations %}

<ul class="nav flex-column" id="accordionMenu">
  {% for location in locations %}
    {% assign index_target = forloop.index %}
    {% assign year = location.year %}
    <li class="nav-item">
      <a class="nav-link collapsed" onmouseover=""" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse{{forloop.index}}">{{year}}</a>
        <ul class="nav collapse" id="collapse{{forloop.index}}" aria-labelledby="{{forloop.index}}" data-parent="#accordionMenu">
          {% if location.campuses %}
            {% for campus in location.campuses %}
              <li class="nav-item ml-3">
                <a class="nav-link" href="#{{link}}_{{year}}">{{campus.title}}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
    </li>
  {% endfor %}
</ul>