{% for year_num in (2017..site.current_year) reversed %}
  {% assign index_mod_2 = forloop.index | modulo: 2 %}
  {% if index_mod_2 == 1 %}
  {% endif %}
    {% assign allyears = year_num | downcase %}
      <div class="col-sm-12">
        <h1 id="{{allyears}}">{{allyears}}</h1>
      </div>
    {% for year in site.data[allyears] %}
    {% assign location_data = year[1].location %}
      {% include locations_listing.html location_data=location_data year=year %}
    {% endfor %}
  {% if index_mod_2 == 0 or forloop.last %}
  {% endif %}
{% endfor %}
