{% assign locations = data.locations %}

<ul class="nav flex-column" id="accordionMenu">
  {% for location in locations %}
    {% assign index_target = forloop.index %}
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse{{forloop.index}}">{{location.year}}</a>
        <ul class="nav collapse" id="collapse{{forloop.index}}" aria-labelledby="{{forloop.index}}" data-parent="#accordionMenu">
          {% if location.campuses %}
            {% for campus in location.campuses %}
              <li class="nav-item ml-3">
                <a class="nav-link" href="bamberg.html">{{campus.title}}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
    </li>
  {% endfor %}
</ul>