<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/images/sicss-logo.svg" width="" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      {% for navlink in data.navigation %}
        <li class="nav-item">
          <a class="nav-link" href="{{ navlink.url | prepend: site.baseurl }}">{{ navlink.name }}</a>
        </li>
      {% endfor %}
      <li class="nav-item">
          <a class="nav-link btn btn-light btn-sm text-dark mx-3 font-weight-bold" href="apply.html">Apply</a>
      </li>
    </ul>
  </div>
</nav>
{% capture announcements %}{% include announcements.md %}{% endcapture %}
{% if announcements != "" %}
  <!-- Start Notice -->
  <section class="bg-warning">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="py-2 text-center font-weight-bold">
                {{ announcements | markdownify }}
          </div>
        </div>
      </div>
    </section>
{% endif %}
