<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/images/sicss-logo.svg" width="" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      {% assign navigation = site.data.navigation %}
      {% for navlink in navigation %}
        {% if navlink.items %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ forloop.index }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ navlink.name }}
            </a>
            <div class="dropdown-menu bg-dark text-light border-0" aria-labelledby="navbarDropdown{{ forloop.index }}">
              {% for item in navlink.items %}
                <a class="dropdown-item text-light" href="{{ item.url | prepend: site.baseurl }}">{{ item.name }}</a>
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if navlink.type == 'button' %} btn btn-light btn-sm text-dark mx-3 font-weight-bold {% endif %}" href="{{ navlink.url | prepend: site.baseurl }}">{{ navlink.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
{% capture announcements %}{% include announcements.md %}{% endcapture %}
{% if announcements != "" %}
  <!-- Start Notice -->
  <section class="bg-warning">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="py-2 text-center font-weight-bold">
                {{ announcements | markdownify }}
          </div>
        </div>
      </div>
    </section>
{% endif %}