{% assign participants = data.participants %}

{% for participant in participants %}
  <div class="media mb-5">
    {% if participant.image %}
    {% assign image_prefix = participant.image | slice: 0, 4 %}
    {% if image_prefix == "http" %}
      {% assign image_url = participant.image %}
    {% else %}
      {% assign image_url = participant.image | prepend: site.baseurl %}
    {% endif %}
    <img src="{{ image_url }}" alt="Image of {{ participant.name }}" class="mr-5 rounded" width="150">
    {% endif %}
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold">{{participant.name}}</h5>
      {{participant.bio}}
      <br>
      {% if participant.website %}
        <a href={{participant.website}} target="_blank" class="btn btn-sm btn-dark mt-3">Website</a>
      {% endif %}
    </div><!--/media-body-->
  </div><!--/media-->
{% endfor %}