{% assign urlparts = page.url | split: "/" %}
{% assign year = urlparts[1] %}
{% assign location = urlparts[2] %}

{% assign type = include.content %}

{% if type == 'Faculty' %}
  {% assign people = site.data[year][location].faculty %}
  {% assign anchor = 'faculty' %}
{% endif %}

{% if type == 'Speakers' %}
  {% assign people = site.data[year][location].speakers %}
  {% assign anchor = 'speakers' %}
{% endif %}

{% if type == 'Participants' %}
  {% assign people = site.data[year][location].participants %}
  {% assign anchor = 'participants' %}
{% endif %}

{% if type == 'Teaching Assistants' %}
  {% assign people = site.data[year][location].teaching_assistants %}
  {% assign anchor = 'teaching_assistants' %}
{% endif %}


<hr class="mt-5 mb-4">
<h3 id={{anchor}} class="h3 mb-4">{{type}}
  <!-- <small class="text-muted font-weight-light">(Listed alphabetically)</small> -->
</h3>
{% for person in people %}
  {% include person.html person=person %}
{% endfor %}
