{% assign years_group_1 = data.all-people-2017-2020 | map: "year" | uniq | sort | reverse %}
{% assign years_group_2 = data.all-people-post-2020 | map: "year" | uniq | sort | reverse %}
{% assign all_years = years_group_2 | concat: years_group_1 %}

{% assign sites_group_1 = data.all-people-2017-2020 | map: "site" | uniq | sort %}
{% assign sites_group_2 = data.all-people-post-2020 | map: "site" | uniq | sort %}
{% assign all_sites = sites_group_1 | concat: sites_group_2 %}
{% assign all_sites = all_sites | sort | uniq %}

{% assign category_group_1 = data.all-people-2017-2020 | map: "category" | uniq | sort %}
{% assign category_group_2 = data.all-people-post-2020 | map: "category" | uniq | sort %}
{% assign all_categories = category_group_1 | concat: category_group_2 %}
{% assign all_categories = all_categories | sort | uniq %}

<form data-js-search-filter>
<p><a class="d-flex align-items-center font-weight-bolder btn-collapse-toggle" data-toggle="collapse" href="#collapseYear" role="button" aria-expanded="false" aria-controls="{{ include.uniqueid }}-collapseYear"><span class="collapse-caret"></span><span>Year</span></a></p>
<div id="collapseYear" class="collapse ml-3 show">
  {% for year in all_years %}
    <div class="form-group form-check">
      <input type="checkbox" name="year" class="form-check-input" value="{{ year | escape }}" id="{{ include.uniqueid }}-year-filter-{{ year | slugify }}">
      <label for="{{ include.uniqueid }}-year-filter-{{ year | slugify }}" class="form-check-label">{{ year }}</label>
    </div>
  {% endfor %}
</div>

<p><a class="d-flex align-items-center font-weight-bolder btn-collapse-toggle collapsed" data-toggle="collapse" href="#collapseLocation" role="button" aria-expanded="false" aria-controls="collapseLocation"><span class="collapse-caret"></span><span>Location</span></a></p>
<div id="collapseLocation" class="collapse ml-3">
  {% for site in all_sites %}
    <div class="form-group form-check">
      <input type="checkbox" name="site" class="form-check-input" value="{{ site | slugify }}" id="{{ include.uniqueid }}-site-filter-{{ site | slugify  }}">
      <label for="{{ include.uniqueid }}-site-filter-{{ site | slugify  }}" class="form-check-label">{{ site }}</label>
    </div>
  {% endfor %}
</div>

<p><a class="d-flex align-items-center font-weight-bolder btn-collapse-toggle collapsed" data-toggle="collapse" href="#collapseInvolvement" role="button" aria-expanded="false" aria-controls="collapseInvolvement"><span class="collapse-caret"></span><span>Involvement</span></a></p>
<div id="collapseInvolvement" class="collapse ml-3">
  {% for category in all_categories %}
    {% if category and category != "" %}
    <div class="form-group form-check">
      <input type="checkbox" name="category" class="form-check-input" value="{{ category | slugify | replace: '-', '' }}" id="{{ include.uniqueid }}-category-filter-{{ category | slugify }}">
      <label for="{{ include.uniqueid }}-category-filter-{{ category | slugify }}" class="form-check-label">{{ category | capitalize }}</label>
    </div>
    {% endif %}
  {% endfor %}
</div>

<button type="reset" class="btn btn-sm btn-outline-secondary mt-3">Clear</button>
</form>
