<div class="row">
  <div class="col-sm-12">
    <h2 class="display-4">Leadership Team</h2>
    <hr />
    <br />
  </div>
  {% for leader in data.founders %}
    {% include person.html person=leader %}
  {% endfor %}
</div>
<div class="row">
  <div class="col-sm-12">
    <h2 class="display-4">Advisory Council</h2>
    <hr />
    <br />
  </div>
  {% for advisor in data.advisory %}
    {% include person.html person=advisor %}
  {% endfor %}
</div>
<div class="row">
  <div class="col-sm-12">
    <h2 class="display-4">Leadership Team</h2>
    <hr />
    <br />
  </div>
  {% for leader in data.leadership %}
    {% include person.html person=leader %}
  {% endfor %}
</div>

{% for year in locations_by_year %}
<div class="row">
  <div class="col-sm-12">
    <h1 id="{{year.year}}">{{year.year}}</h1>
    <br />
  </div>
{% for year_location in year.locations %}
  {% assign location = year_location %}
  <div class="col-sm-12">
    <h2 id="{{location.location.link}}{{location.location.year}}">{{location.location.title}}</h2>
    <h4 class="h3 mb-4">All Participants
      <!-- <small class="text-muted font-weight-light">(Listed alphabetically)</small> -->
    </h4>
    <hr />
  </div>
  {% if location.people %}
    {% assign people_data = location.people %}
    {% for group in people_data %}
      {% assign people = group[1].people %}
      {% if people %}
        {% for person in people %}
          {% include person.html person=person %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% else %}
      {% assign faculty = location.faculty %}
      {% assign speakers = location.speakers %}
      {% assign participants = location.participants %}
      {% assign teaching_assistants = location.teaching_assistants %}
      {% for person in faculty %}
        {% include person.html person=person %}
      {% endfor %}
      {% for person in speakers %}
        {% include person.html person=person %}
      {% endfor %}
      {% for person in participants %}
        {% include person.html person=person %}
      {% endfor %}
      {% for person in teaching_assistants %}
        {% include person.html person=person %}
      {% endfor %}
  {% endif %}
{% endfor %}
</div>

{% endfor %}
