{% if page.partner_site %}
{% assign urlparts = page.url | split: "/" %}
{% assign year = urlparts[1] %}
{% assign location = urlparts[2] %}
{% assign people = site.data[year][location].people %}
{% for group in people %}
  {% if group[1].title == 'Faculty'%}
  <hr class="mt-5 mb-4">  
  <h3 id={{group[0]}} class="h3 mb-4">{{group[1].title}}</h3>
  {% else %}
  <hr class="mt-5 mb-4">
  <h3 id={{group[0]}} class="h3 mb-4">{{group[1].title}}
    <!-- <small class="text-muted font-weight-light">(Listed alphabetically)</small> -->
  </h3>
  {% endif %}
  {% assign people = group[1].people %}
  {% if people %}
    {% for person in people %}
      {% include person.html person=person %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% else %}
  {% for group in data.people %}
    {% if group[1].title == 'Faculty'%}
    <h3 id={{group[0]}} class="h3 mb-4">{{group[1].title}}
      <!-- <small class="text-muted font-weight-light">(Listed alphabetically)</small> -->
    </h3>
    <!-- add searchar.html post release  -->
    {% else %}
    <hr class="mt-5 mb-4">
    <h3 id={{group[0]}} class="h3 mb-4">{{group[1].title}}
      <!-- <small class="text-muted font-weight-light">(Listed alphabetically)</small> -->
    </h3>
    {% endif %}
    {% assign people = group[1].people %}
    {% if people %}
      {% for person in people %}
        {% include person.html person=person %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
