<div class="media mb-5">
  {% if include.person.image %}
  {% assign image_prefix = include.person.image | slice: 0, 4 %}
  {% if image_prefix == "http" %}
    {% assign image_url = include.person.image %}
  {% else %}
    {% assign image_url = include.person.image | prepend: site.baseurl %}
  {% endif %}
  <img loading="lazy" src="{{ image_url }}" alt="Image of {{ include.person.name }}" class="mr-5 rounded" width="150">
  {% endif %}
  <div class="media-body">
    <h5 class="mt-0 font-weight-bold">
      {% if include.person.website %}
        <a href={{include.person.website}} target="_blank" rel="noopener noreferrer">{{include.person.name}}</a>
      {% else %}
        {{include.person.name}}
      {% endif %}
    </h5>
    {{include.person.bio}}
  </div>
</div>
