<div class="row">
    <div class="col-sm-12 pb-5">
      <h2 class="display-5 text-center text-uppercase font-weight-light">Program Overview</h2>
      <p class="lead my-5 text-center px-5">{{content}}</p>
    </div><!--col-->
  </div><!--/row-->
  <div class="row">
    {% for data in data.program_overview %}
    <div class="col-sm-4">
        <div class="d-flex justify-content-center">
          <img src="{{ site.baseurl }}{{ data.image }}" alt="Instroctor Icon" class="overview-icon">
        </div>
        <h4 class="h5 text-center text-uppercase my-3">{{data.title}}</h4>
        <p class="my-2 text-center">
          {{data.body}}
        </p>
    </div>
    {% endfor %}
  </div><!-- /row -->