{% if page.partner_site %}
{% assign urlparts = page.url | split: "/" %}
{% assign year = urlparts[1] %}
{% assign location = urlparts[2] %}
{% assign schedule = site.data[year][location].schedule %}
{% for day in schedule %}
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <strong>
	  {% if location == 'jias' or location == 'johannesburg' %}
	  {{ day.date | date: "%A, %d %B %Y" }}
	  {% else %}
          {{ day.date | date: "%A %B %-d, %Y" }}
	  {% endif %}
          {% if day.name %}
            - {{ day.name }}
          {% endif %}
        </strong>
      </h5>
    </div>
    <ul class="list-group list-group-flush">
    {% if day.events %}
      {% for event in day.events %}
      <li class="list-group-item">
          {% if event.time %}
            <span>{{ event.time | date: "%l:%M%P" }}</span>
          {% endif %}
        {{ event.name | markdownify }}
      </li>
      {% endfor %}
    {% endif %}
    </ul>
  </div>
{% endfor %}
{% endif %}
