{% if page.partner_site %}
{% assign urlparts = page.url | split: "/" %}
{% assign year = urlparts[1] %}
{% assign location = urlparts[2] %}
{% assign events = site.data[year][location].events %}
{% for event in events %}
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <strong>{{event.date}}</strong>
      </h5>
    </div>
    <ul class="list-group list-group-flush">
    {% if event.topics %}
      {% for topic in event.topics %}
        <li class="list-group-item">
          {{topic.time}} {{topic.title}}
          {% if topic.resources %}
            {% for resource in topic.resources %}
              <a href={{resource.link}} target="_blank">{{resource.text}}</a>
            {% endfor %}
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
    </ul>
  </div>
{% endfor %}
{% endif %}