<!-- {% if data[include.data_key] %}
<div class="schedule section">
  <div class="container">
    <h1 id="{{ include.data_key }}">{{ include.title }}</h1>
    {% for day in data[include.data_key] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>{{ day.date | date: "%A %B %-d, %Y" }}</strong>
            {% if day.name %}
              - {{ day.name }}
            {% endif %}
          </h3>
        </div>
        {% if day.events %}
          <ul class="list-group">
            {% for event in day.events %}
              <li class="list-group-item">
                {% if event.time %}
                  <span class="label label-default">{{ event.time | date: "%l:%M%P" }}</span>
                {% endif %}
                {{ event.name | markdownify }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endif %} -->

      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Sunday July 28, 2019</strong>
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            Opening dinner
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Monday July 29, 2019</strong>
      
            - Introduction and Ethics (Carsten Schwemmer + Video Lecture)
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            9:00 - 9:15 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            9:15 - 9:30 Introductions
      
          </li>
      
          <li class="list-group-item">
      
            9:30 - 10:00 Introduction to computational social science <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day1-ethics/02-intro-computational-social-science.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            10:00 - 10:30 Why SICSS? <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day1-ethics/02-why-sicss.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            10:30 - 10:45 Coffee break
      
          </li>
      
          <li class="list-group-item">
      
            10:45 - 11:30 Ethics: principles-based approach <a href="https://youtu.be/H_3qbmlZsp0">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/03-ethics.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            11:30 - 12:15 Four areas of difficulty: informed consent, informational risk, privacy, and making decisions in
              the face of uncertainty <a href="https://youtu.be/75qv8d8SXW0">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/04-areas-of-difficulty.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            12:15 - 12:30 Introduction to the group exercise <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day1-ethics/05-intro-group-exercise.pdf">Slides</a>
              <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day1-ethics/group-exercise/ethics_case_study.pdf">Case
                study 1</a> <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day1-ethics/group-exercise/patreon-case-study.pdf">Case
                Study 2</a>
      
          </li>
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
          <li class="list-group-item">
      
            1:30 - 3:45 Group exercise
      
          </li>
      
          <li class="list-group-item">
      
            3:45 - 4:00 Break
      
          </li>
      
          <li class="list-group-item">
      
            4:00 - 5:30 Guest speaker: Andreas Jungherr <a
                href="http://andreasjungherr.net/2019/07/30/normalizing-digital-trace-data-sicss-edition/">Blog &amp;
                Slides</a>
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Tuesday July 30, 2019</strong>
      
            - Collecting Digital Trace Data (Carsten Schwemmer)
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            9:00 - 9:15 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            9:15 - 9:45 What is digital trace data? <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/02-what-ist-digital-trace-data.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            9:45 - 10:30 Screen-scraping <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/03-screenscraping.pdf">Slides</a>
              <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/03-screenscraping.Rmd">Code</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            10:30 - 10:45 Coffee break
      
          </li>
      
          <li class="list-group-item">
      
            10:45 - 11:45 Application Programming Interfaces <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/04-apis.pdf">Slides</a>
              <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/04-apis.Rmd">Code</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            11:45 - 12:30 Building apps and bots for social science research <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/05-bots-apps.pdf">Slides</a>
              <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/05-bots-apps.Rmd">Code</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
          <li class="list-group-item">
      
            1:30 - 4:15 Group exercise <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/day2-digital-trace-data/06-group-exercise.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            4:15 - 4:30 Break
      
          </li>
      
          <li class="list-group-item">
      
            4:30 - 5:30 Guest speaker: Deen Freelon (video from SICSS 2018)
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Wednesday July 31, 2019</strong>
      
            - Social Network Analysis (Oliver Posegga)
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            09:00 - 09:15 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            09:15 - 09:30 Network analysis: then and now <a
                href="https://github.com/compsocialscience/summer-institute/tree/master/2019/bamberg/materials/day3-sna">Materials</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            09:30 - 10:00 The fundamentals of network analysis
      
          </li>
      
          <li class="list-group-item">
      
            10:00 - 10:30 Plotting networks
      
          </li>
      
          <li class="list-group-item">
      
            10:30 - 10:45 Coffee break
      
          </li>
      
          <li class="list-group-item">
      
            10:45 - 11:45 Node and network level measures
      
          </li>
      
          <li class="list-group-item">
      
            11:45 - 12:30 Exploring network properties
      
          </li>
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
          <li class="list-group-item">
      
            1:30 - 3:45 Group exercise
      
          </li>
      
          <li class="list-group-item">
      
            3:45 - 4:00 Break
      
          </li>
      
          <li class="list-group-item">
      
            4:00 - 5:30 Guest speaker: Fariba Karimi <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/speaker_slides/Bamberg-July19-frbkrm.pdf">Slides</a>
            
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Thursday August 1, 2019</strong>
      
            - Automated Text Analysis (Carsten Schwemmer)
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            9:00 - 9:15 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            9:15 - 10:10 Basics of quantitative text analysis <a
                href="https://github.com/compsocialscience/summer-institute/tree/master/2019/bamberg/materials/day4-text-analysis">Materials
                for entire day</a>
      
          </li>
      
          <li class="list-group-item">
      
            10:10 - 10:30 Dictionary-based text analysis
      
          </li>
      
          <li class="list-group-item">
      
            10:30 - 10:45 Coffee break
      
          </li>
      
          <li class="list-group-item">
      
            10:45 - 11:30 Classifiers
      
          </li>
      
          <li class="list-group-item">
      
            11:30 - 12:30 Structural topic models
      
          </li>
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
          <li class="list-group-item">
      
            1:30 - 3:45 Group exercise
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Friday August 2, 2019</strong>
      
            - Surveys in the Digital Age (video lectures from SICSS Princeton)
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            9:00 - 9:15 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            9:15 - 9:45 Survey research in the digital age <a href="https://youtu.be/14r4h8j9VRI">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/01-survey-research-digital-age.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            9:45 - 10:15 Probability and non-probability sampling <a href="https://youtu.be/9olwcCwxA9I">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/02-nonprobability-sampling.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            10:15 - 10:30 Coffee break
      
          </li>
      
          <li class="list-group-item">
      
            10:30 - 11:00 Computer-administered interviews and wiki surveys <a
                href="https://youtu.be/Xjs_--HG4W4">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/03-computer-administered-interviews.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            11:00 - 11:30 Combining surveys and big data <a href="https://youtu.be/7_umwwUNXjE">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/04-combining-surveys-and-big-data.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            11:30 - 12:00 Group exercise introduction <a href="https://youtu.be/2zIowhr1yyA">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/05-intro-to-activity.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            12:00 - 12:30 Begin group exercise <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/activity/SICSS_survey_activity_2019.pdf">Exercise</a>,
              Optional datasets: <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/activity/2019-06-13_mturk_data_clean.csv">Survey
                data</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/activity/2017_acs_data_clean.csv">post-stratification
                data</a> (<em>Not open to public/No livestream</em>)
      
          </li>
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
          <li class="list-group-item">
      
            1:30 - 3:15 Continue group exercise
      
          </li>
      
          <li class="list-group-item">
      
            3:15 - 3:45 Discuss activity and open-source data <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day4-surveys/06-intro-to-open-sourcing-data.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            3:45 - 4:00 Break
      
          </li>
      
          <li class="list-group-item">
      
            4:00 - 5:30 Guest speaker: Ridhi Kashyap <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/speaker_slides/kashyap_sicss_bamberg.pdf">Slides</a>
            
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Saturday August 3, 2019</strong>
      
            - Experiments (video lectures from SICSS Princeton)
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            9:00 - 9:15 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            9:15 - 9:30 What, why, and which experiments? <a href="https://youtu.be/n7Yrqx1LIBc">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day6-experiments/01-what-why-which-experiments.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            9:30 - 9:45 Moving beyond simple experiments <a href="https://youtu.be/7IR5WBxUJQU">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day6-experiments/02-moving-beyond-simple-experiments.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            9:45 - 10:15 Four strategies for making experiments happen <a href="https://youtu.be/Lnejxmca4NA">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day6-experiments/03-making-it-happen.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            10:15 - 10:30 Coffee break
      
          </li>
      
          <li class="list-group-item">
      
            10:30 - 11:00 Zero variable cost data and musiclab <a href="https://youtu.be/KMMRT0H-iLU">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day6-experiments/04-zero-variable-cost.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            11:00 - 11:15 Break
      
          </li>
      
          <li class="list-group-item">
      
            11:15 - 12:15 Guest speaker: Abdullah Almaatouqn (video from SICSS 2019) <a
                href="https://youtu.be/8MEfRRLUrvI">Video</a>, <a
                href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/speaker-slides/AbdullahAlmaatouqSlides.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            12:15 - 12:30 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            Afternoon off
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Sunday August 4, 2019</strong>
      
            - Day off
      
          </h5>
        </div>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Monday August 5, 2019</strong>
      
            - Work on group projects
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            9:00 - 9:15 Logistics
      
          </li>
      
          <li class="list-group-item">
      
            9:15 - 10:30 Speed-dating and group formation <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/materials/research-speed-dating/speed-dating.pdf">Slides</a>
            
      
          </li>
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
          <li class="list-group-item">
      
            1:30 - 3:00 Guest lecture: Martijn Schoonvelde <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/speaker_slides/Schoonvelde_SICSS.pdf">Slides</a>
            
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Tuesday August 6, 2019</strong>
      
            - Work on group projects
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            12:30 - 1:30 LunchSchoonvelde
      
          </li>
      
          <li class="list-group-item">
      
            1:30 - 3:00 Guest lecture: Milena Tsvetkova <a
                href="https://github.com/compsocialscience/summer-institute/raw/master/2019/bamberg/speaker_slides/milena_tsvetkova_invitro_insilico.pdf">Slides</a>
            
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Wednesday August 7, 2019</strong>
      
            - Work on group projects
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Thursday August 8, 2019</strong>
      
            - Present group projects
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            12:30 - 1:30 Lunch
      
          </li>
      
          <li class="list-group-item">
      
            6:00 - 7:30 Closing dinner
      
          </li>
      
        </ul>
      
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h5>
            <strong>Friday August 9, 2019</strong>
      
          </h5>
        </div>
      
        <ul class="list-group list-group-flush">
      
          <li class="list-group-item">
      
            Participants depart
      
          </li>
      
        </ul>
      
      </div>
