{% if page.sidebar != "hide" %}
{% if page.sidebar.first %}
<div class="col-md-4">
  <ul class="nav flex-column">
    {% for link in page.sidebar %}
    <li class="nav-item">
      <a class="nav-link" href="{{ link.url }}">{{ link.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<!-- detail page sidebar -->
{% if page.partner_site %}
{% assign urlparts = page.url | split: "/" %}
{% assign year = urlparts[1] %}
{% assign location = urlparts[2] %}
{% assign sidebar = site.data[year][location].sidebar %}
<div class="col-md-4">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{{page.dir | prepend: site.baseurl}}">Overview</a>
    </li>
    {% for nav in sidebar %}
    {% if nav.name == "Post Mortem" %}
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/{{year}}/{{nav.url}}{{nav.link}}">{{checkyear}}
        {{nav.name}}</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{{nav.url}}">{{nav.name}}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if site.current_year | downcase == year and site.data[year][location].location.apply_button != "hidden" %}
    <li class="nav-item">
      <a class="nav-link btn btn-dark d-xl-inline-flex mt-3 ml-3" href="apply">Apply</a>
    </li>
    <br />
    {% endif %}
  </ul>
  <ul class="nav flex-column">
    <a class="nav-link collapsed" onmouseover="" style="cursor: pointer;" data-toggle="collapse" data-target="">Other
      Events:</a>
    {% for year_num in (2017..site.current_year) reversed %}
    {% assign allyears = year_num | downcase %}
    {% for checkyear in allyears %}
    {% assign location_data = site.data[checkyear][location]%}
    {% if location_data %}
    {% if checkyear != year %}
    <a class="nav-link" href="{{site.baseurl}}/{{checkyear}}/{{location}}">{{checkyear}}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
  </ul>
</div>
{% endif %}

<!-- locations sidebar -->
{% if page.layout == 'locations' %}
<ul class="nav flex-column" id="accordionMenu">
  {% for year in locations_by_year %}
  <li class="nav-item">
    <a class="nav-link" onmouseover="" style="cursor: pointer;" data-toggle="collapse"
      data-target="#collapse{{forloop.index}}">{{year.year}}</a>
    <ul class="nav collapse" id="collapse{{forloop.index}}" aria-labelledby="{{forloop.index}}"
      data-parent="#accordionMenu">
      {% for year_location in year.locations %}
      {% assign campus = year_location.location %}
      {% if campus.title %}
      <li class="nav-item w-100">
        <a class="nav-link" href="#{{campus.link}}_{{campus.year}}">{{campus.title}}
          {% if campus.primary %}
          <span>(Primary Location)</span>
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endif %}

<!-- people sidebar -->
{% if page.layout == 'people' or page.layout == 'people_search' %}
{% if page.partner_site %}
<div class="col-md-4">
  <ul class="nav flex-column">
    {% if data.people %}
    {% for group in data.people %}
    <li class="nav-item">
      <a class="nav-link" href="#{{group[0]}}">{{group[1].title}}</a>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
{% else %}
<div class="col-md-4">
  <h5>Participants by Year</h5>
  <ul class="nav flex-column" id="accordionMenu">
    {% for year in locations_by_year %}
    <li class="nav-item">
      <a class="nav-link" onmouseover="" style="cursor: pointer;" data-toggle="collapse"
        data-target="#collapse{{forloop.index}}">{{year.year}}</a>
      <ul class="nav collapse" id="collapse{{forloop.index}}" aria-labelledby="{{forloop.index}}"
        data-parent="#accordionMenu">
        {% for year_location in year.locations %}
        {% assign campus = year_location.location %}

        {% if campus.title %}
        <li class="nav-item w-100">
          <a class="nav-link" href="{{site.baseurl}}/{{campus.year}}/{{campus.link}}/people">{{campus.title}}
            {% if campus.primary %}
            <span>(Primary Location)</span>
            {% endif %}
          </a>
        </li>
        {% endif %}

        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endif %}

{% endif %}{% comment %} // sidebar is not array or hash {% endcomment %}
{% endif %}{% comment %} // sidebar is not "hide" {% endcomment %}