<div class="col-md-4">
    <h5>Filter by Year</h5>
    <ul class="nav flex-column" id="accordionMenu">
        {% for year in locations_by_year %}
        <li class="nav-item">
            <a class="nav-link" onmouseover="" style="cursor: pointer;" data-toggle="collapse"
                data-target="#collapse{{forloop.index}}">{{year.year}}</a>
            <ul class="nav collapse" id="collapse{{forloop.index}}" aria-labelledby="{{forloop.index}}"
                data-parent="#accordionMenu">
                {% for year_location in year.locations %}
                {% assign campus = year_location.location %}
                {% assign post_mortem = year_location.post_mortem[0] %}
                {% if campus.title %}
                {% if post_mortem.title %}
                <li class="nav-item w-100">
                    <a class="nav-link" href="{{site.baseurl}}/{{campus.year}}/post-mortem#{{campus.link}}">
                        {{campus.title}} {{post_mortem.title}}
                    </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>