{% for speaker in data.speakers %}
  <div class="media mb-5">
    {% if speaker.image %}
    {% assign image_prefix = speaker.image | slice: 0, 4 %}
    {% if image_prefix == "http" %}
      {% assign image_url = speaker.image %}
    {% else %}
      {% assign image_url = speaker.image | prepend: site.baseurl %}
    {% endif %}
    <img src="{{ image_url }}" alt="Image of {{ speaker.name }}" class="mr-5 rounded" width="150">
    {% endif %}
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold">{{speaker.name}}</h5>
      {{speaker.bio}}
      <br>
      {% if speaker.website %}
      <a href={{speaker.website}} target="_blank" class="btn btn-sm btn-dark mt-3">Website</a>
      {% endif %}
    </div><!--/media-body-->
  </div><!--/media-->
{% endfor %}