{% if site.data[year].speakers %}
  <h1 id="speakers">Speakers</h1>
  {% for speaker in site.data[year].speakers %}
    {% assign index_mod_2 = forloop.index | modulo: 2 %}
    {% if index_mod_2 == 1 %}
      <div class="row">
    {% endif %}
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4">
          <p><a href="{{ speaker.website }}"><img class="img-responsive" src="{{ speaker.image }}" alt="Image of {{ speaker.name }}"></a></p>
        </div>
        <div class="col-sm-8">
          <h3 class="media-heading"><a href="{{ speaker.website }}">{{ speaker.name }}</a></h3>
          <p>{{ speaker.bio }}</p>
        </div>
      </div>
    </div>
    {% if index_mod_2 == 0 or forloop.last %}
    </div> <!-- close row -->
    {% endif %}
  {% endfor %}
{% endif %}
