{% assign teachers = data.teaching_assistants %}

{% for teacher in teachers %}
  <div class="media mb-5">
    {% if teacher.image %}
    {% assign image_prefix = teacher.image | slice: 0, 4 %}
    {% if image_prefix == "http" %}
      {% assign image_url = teacher.image %}
    {% else %}
      {% assign image_url = teacher.image | prepend: site.baseurl %}
    {% endif %}
    <img src="{{ image_url }}" alt="Image of {{ teacher.name }}" class="mr-5 rounded" width="150">
    {% endif %}
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold">{{teacher.name}}</h5>
      {{teacher.bio}}
      <br>
      {% if teacher.website %}
        <a href={{teacher.website}} target="_blank" class="btn btn-sm btn-dark mt-3">Website</a>
      {% endif %}
    </div><!--/media-body-->
  </div><!--/media-->
{% endfor %}