<!-- video search -->
<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-secondary border-0">
      <form id="video_search_form">
        <div class="input-group">
          <input name="q" type="text" class="form-control" placeholder="Search videos" aria-label="Search" aria-describedby="searchHelp">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          </div><!--/input-group-append -->
        </div><!--/input-group -->
      </form>
    </div>
  </div>
</div>
<!-- end video search -->
