<div class="row">
  {% assign all_videos = site.videos | sort: "has_order" %}

  {%- comment -%} List Bootcamp videos first {%- endcomment -%}
  {% for video in all_videos %}
    {% if video.is_bootcamp %}
      {% include video/card.html video=video %}
    {% endif %}
  {% endfor %}

  {%- comment -%} List non-bootcamp videos next {%- endcomment -%}
  {% for video in all_videos %}
    {% if video.is_bootcamp == false %}
      {% include video/card.html video=video %}
    {% endif %}
  {% endfor %}

</div>
