$option-blue: #264192;
$option-red: #8b2223;
$option-green: #477e5d;
$option-orange: #ea8b18;
$option-purple: #540690;
$option-uwpurple: #4b2e83;
$option-maroon: #861248;

@mixin option-colorizer($color) {
  .hero-location {
    text-transform: uppercase;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -1px;
    color: darken($color, 10%);
    color: #fff;
  }
  .hero-location-subtitle {
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 18px;
    color: $color;
    color: #fff;
  }
  .hero-overlay {
    background: rgba(255, 255, 255, 0.65);
    color: darken($color, 10%);
    padding: 1em 0;
    margin: 8px 0 0 0;
  }
  .partnership-title {
    font-size: 14px;
    color: darken($color, 10%);
    margin: 8px 0 0 0;
  }
  &.hero {
    background: radial-gradient(
      at top left,
      saturate(lighten($color, 10%), 10%) 0%,
      $color 25%,
      darken($color, 10%) 75%,
      darken($color, 15%) 100%
    );
  }
}
//------------------------ Masthead
.option-blue {
  @include option-colorizer($option-blue);
}
.option-red {
  @include option-colorizer($option-red);
}
.option-green {
  @include option-colorizer($option-green);
}
.option-orange {
  @include option-colorizer($option-orange);
}
.option-purple {
  @include option-colorizer($option-purple);
}
.option-uwpurple {
  @include option-colorizer($option-uwpurple);
}
.option-maroon {
  @include option-colorizer($option-maroon);
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.hero-logo-wrapper {
  padding: 124px 0 0 0;
}
.hero-logo {
  width: 100px;
}
.hero-dates {
  margin: 0;
}
.main-location {
  .hero-logo {
    max-width: 100%;
    width: 350px;
  }
}
