---
---

@import "bootstrap";
$fixed-navbar-height: 50px;
body {
  padding-bottom: 4em;
  // Deal with fixed navbar height.
  padding-top: $fixed-navbar-height;

  // Fixes issue with fixed navbar and anchor links.
  :target:before {
    content: "";
    display: block;
    height: $fixed-navbar-height; /* fixed header height*/
    margin: -$fixed-navbar-height 0 0; /* negative fixed header height */
  }
}

.media {
  margin-bottom: 1.5em;
}

.navbar-brand {
  font-size: 10px;
  @media (min-width: 375px) {
    font-size: 12px;
  }
  @media (min-width: 425px) {
    font-size: 14px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }
}
