---
---
$btn-default-color:              #555;
$btn-default-bg:                 #e7e7e7;
@import "bootstrap";
@import "hero";
$fixed-navbar-height: 50px;
body {
  // Deal with fixed navbar height.
  padding-top: $fixed-navbar-height;

  // Fixes issue with fixed navbar and anchor links.
  :target:before {
    content: "";
    display: block;
    height: $fixed-navbar-height; /* fixed header height*/
    margin: -$fixed-navbar-height 0 0; /* negative fixed header height */
  }
}

.navbar {
  .navbar-brand {
    img {
      position: relative;
      top: -7px;
    }
  }
  .primary-nav {
    a.Apply {
      @extend .btn;
      @extend .btn-default;
      margin-top: 10px;
      margin-left: 15px;
      html.year_2020 & {
        @extend .btn-primary;
      }
    }
  }
}

.nav.navbar-right p {
  display: inline;
}

.media {
  margin-bottom: 1.5em;
}

.navbar-brand {
  font-size: 10px;
  @media (min-width: 375px) {
    font-size: 12px;
  }
  @media (min-width: 425px) {
    font-size: 14px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }
}
.introduction {
  line-height: 2em;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 50px;
}

.default.container {
  padding-bottom: 4em;
}

.section {
  padding: 50px 0;
  &:nth-child(even) {
    background: #eee;
  }
}

.people {
  .row {
    margin-bottom: 40px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
  }
  img {
    border-radius: 100px;
    object-fit: cover;
    float: left;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media (max-width: $screen-xs-max) {
      width: 150px;
      margin-right: 20px;
    }
  }
}
ul.list-group ul {
  margin-bottom: 10px;
}

.streaming {
  .row {
    margin-bottom: 40px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
  }
  img {
    border-radius: 100px;
    object-fit: cover;
    float: left;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media (max-width: $screen-xs-max) {
      width: 150px;
      margin-right: 20px;
    }
  }
}
ul.list-group ul {
  margin-bottom: 10px;
}
