---
---

@import "bootstrap";
$fixed-navbar-height: 50px;
body {
  padding-bottom: 4em;
  // Deal with fixed navbar height.
  padding-top: $fixed-navbar-height;

  // Fixes issue with fixed navbar and anchor links.
  :target:before {
    content: "";
    display: block;
    height: $fixed-navbar-height; /* fixed header height*/
    margin: -$fixed-navbar-height 0 0; /* negative fixed header height */
  }
}

.navbar {
  .navbar-brand {
    img {
      position: relative;
      top: -7px;
    }
  }
  .primary-nav {
    a.Apply {
      @extend .btn;
      @extend .btn-primary;
      margin-top: 10px;
      color: #fff !important;
      margin-left: 15px;
    }
  }
}

.media {
  margin-bottom: 1.5em;
}

.navbar-brand {
  font-size: 10px;
  @media (min-width: 375px) {
    font-size: 12px;
  }
  @media (min-width: 425px) {
    font-size: 14px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }
}

.hero {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;

/*
  .hero-image {
    background-image: url(/assets/images/sicss-hero.jpg);
    background-size: contain;
    background-position: center;
  }
*/
  .hero-overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
    top: 15%;
    background-color: rgba(0, 0, 0, 0.5);

    h1 {
      font-size: 14px;
      @media (min-width: 375px) {
        font-size: 16px;
      }
      @media (min-width: 425px) {
        font-size: 18px;
      }
      @media (min-width: 768px) {
        font-size: 30px;
      }
      @media (min-width: 1024px) {
        font-size: 40px;
      }
    }
    h2 {
      font-size: 12px;
      @media (min-width: 375px) {
        font-size: 14px;
      }
      @media (min-width: 425px) {
        font-size: 16px;
      }
      @media (min-width: 768px) {
        font-size: 26px;
      }
      @media (min-width: 1024px) {
        font-size: 36px;
      }
    }
    h3 {
      font-size: 10px;
      @media (min-width: 375px) {
        font-size: 12px;
      }
      @media (min-width: 425px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
    h1, h2, h3 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

.introduction {
  line-height: 2em;
  font-size: 16px;
  margin-top: 20px;
}

.people {
  background: #eee;
  margin: 50px 0;
  padding: 50px 0;
  .row {
    margin-bottom: 40px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
  }
  img {
    border-radius: 100px;
    object-fit: cover;
    float: left;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media (max-width: $screen-xs-max) {
      width: 150px;
      margin-right: 20px;
    }
  }
}