---
---

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}
.jumbotron {
  background-image: url('../images/hero-accent.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 500px;
}
.sub-page .jumbotron {
  min-height: 300px;
}
.card-title {
  font-weight: 900;
}
.card-footer {
  background: #ffffff;
}
.section-callout {
  background: #e9ecef;
  margin: 3rem 0;
  padding: 3rem 0;
}
.overview-icon {
  background: #ffffff;
  border-radius: 100px;
  width: 150px;
}
.nav .active {
  background: rgba(255,255,255,0.75);
  color: #005ec4;
  display: inline-flex;
  border-radius: 4px;
}

.link-dark-bg {
  color: white;
  text-decoration: underline;
}

.link-dark-bg:hover {
  color: rgba(255,255,255,0.75);
  text-decoration: underline;
}

.location-list-item .card-img-top {
  object-fit: cover;
}

.img-about {
  align-self: center;
}

/*
  enable responsive font sizes
  https://christianoliff.com/blog/bootstrap-with-rfs
*/

@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}
