{%- comment -%}
A single video "card" used on the video listing page.
{%- endcomment -%}
<div class="col-sm-4 mb-4 col-video">
  <div class="card position-relative">
    <img src="{{ include.video.preview }}" class="card-img-top" alt="placeholder" />
    <div class="card-body">
      <h6 class="card-title">
        <a href="{{ include.video.url }}" class="stretched-link">{{ include.video.title }}</a>
      </h6>
      <p class="card-text">
        <small>{{ include.video.duration }}</small>
      </p>
    </div>
  </div>
</div>
