{%- comment -%}
See _config.yml for filters, as defined in video_listing.filters.

The filter variable is a dictionary containing a name (for display), a key (the thing to look up in
each video), and a list of friendly names for each potential value.
{%- endcomment -%}

<div class="list-group-item">
  <strong>{{ filter.name }}</strong>
</div>

{%- comment -%}
Generate a normalized, sorted list of all unique values for this particular filter:
  - get all videos
  - use where_exp to get just those that contain a truthy value for the filter key
  - reduce to just the list of keys using map
  - then convert to a unique list, and sort everything case-insensitively
{%- endcomment -%}
{%- assign all_items =
      site.videos |
      where_exp: "video", "video[filter.key]" |
      map: filter.key |
      uniq | sort_natural
-%}
{%- assign filter_slug = filter.key | slugify -%}

{% for item in all_items %}
{%- comment -%}
Use the item name defined in the configuration, if present, otherwise use the item name exactly as
listed. This could mean that if video authors use variable capitalization (CSS, css) the same item
could appear multiple times in the list, but since some filters (e.g. a full name) may need
capitalization exactly as listed, don't make any changes if we don't have an override specified.

If a filter **is** appearing more than once in variable capitalizations, the solution is to
standardize the capitalization for that item across all video files.
{%- endcomment -%}
{%- assign item_slug = item | slugify -%}
{%- if filter.names[item_slug] -%}
  {%- assign item_disp = filter.names[item_slug] -%}
{%- else -%}
  {%- assign item_disp = item -%}
{%- endif -%}

<a href="#"
   id="video-filter-{{ filter_slug }}-{{ item_slug }}"
   data-filter-key="{{ filter.key }}"
   data-filter-value="{{ item }}"
   class="video-filter list-group-item list-group-item-action d-flex justify-content-between align-items-center"
>{{ item_disp }} <span class="badge badge-light badge-pill">✔</span></a>
{% endfor %}
