<div class="col-md-4">
  <div class="alert alert-secondary border-0">
    <small
      >We provide state-of-the art training in a range of different areas in
      computational social science from ethics to text analysis and mass
      collaboration.</small
    >
  </div>
  <div class="list-group mb-4">
    <div class="card text-white position-relative mb-2">
      <img src="{{"/assets/images/bg-sidebar-01.png" | prepend: site.baseurl }}" class="card-img" alt="overlay image">
      <div class="card-img-overlay">
        <h5 class="card-title">
          <a href="{{ "/boot_camp" | prepend: site.baseurl }}" class="stretched-link text-light">Bootcamp</a>
        </h5>
      </div>
    </div>
    <div class="card text-white position-relative mb-2">
      <img src="{{"/assets/images/bg-sidebar-02.png" | prepend: site.baseurl }}" class="card-img" alt="overlay image">
      <div class="card-img-overlay">
        <h5 class="card-title">
          <a href="{{ "/curriculum" | prepend: site.baseurl }}" class="stretched-link text-light">Main Curriculum</a>
        </h5>
      </div>
    </div>
    <div class="card text-white position-relative mb-2">
      <img src="{{"/assets/images/bg-sidebar-03.png" | prepend: site.baseurl }}" class="card-img" alt="overlay image">
      <div class="card-img-overlay">
        <h5 class="card-title">
          <a href="https://github.com/compsocialscience/summer-institute/blob/master/_data/alternative_curriculum.md" class="stretched-link text-light" target="_blank" rel="noopener noreferrer">Partner Location Materials</a>
        </h5>
      </div>
    </div>
  </div>

  {% for filter in site.video_listing.filters %}
  <div class="list-group mb-4">

    {%- include video/filter.html filter=filter -%}

  </div>
  <!--/list-group-->
  {% endfor %}

</div>
<!--/col-->
