{% include setup_data.html %}
<!-- {% include setup_locations_by_year.inc %} -->
<!doctype html>
<html lang="en">

<head>
    {% include header.html %}
</head>

<body class="sub-page">
    {% include navbar.html %}
    {% include hero_secondary.html %}
    <!-- Start content -->
    <section>
        <div class="container">
            <div class="row">
                {% include toc.html %}
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12 mb-5">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
</body>

</html>