{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en" class="year_{{ year }}">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">

    {% include navbar.html %}

    {% include hero_secondary.html %}

    <div class="container">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-4">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#eligibility">Eligibility</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how_to_apply">How to Apply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">Frequently Asked Questions</a>
              </li>
            </ul>
          </div>
          
          <div class="col-md-8 mb-5">
            {{content}}

            {% include apply_list_group.html %}

            {% capture faqs %}{% include _apply_faq.md %}{% endcapture %}
            {% if faqs != "" %}
              {{ faqs | markdownify }}
            {% endif %}

          </div>
        </div>

      </div>
    {% include footer.html %}
  </body>
</html>
