{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">
    {% include navbar.html %}
    <!-- Start content -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="display-3 text-light">SICSS Boot Camp (Beta)</h1>
            <p class="h4 text-light">
              A beginners guide to the technology used at partner locations
            </p>
          </div>
          <!--/col-->
        </div>
        <!--/row-->
      </div>
      <!--container-->
    </div>
    <!--/jumbotron-->
    {% include breadcrumb.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="display-4">Overview</h2>
          <p class="lead pb-5">
            SICSS Boot camp is an online training program designed to provide
            you with beginner level skills in coding so that you can follow the
            more advanced curriculum we teach at the partner locations of the
            Summer Institutes in Computational Social Science. The videos and
            materials linked below are designed for complete beginners and are
            best viewed as a sequence since each video builds upon content
            introduced in previous tutorials. To learn more– or get
            started–click on the “Welcome to Boot Camp” video below.
          </p>
        </div>
        <!--/col-->
      </div>
      <!--/row-->
      <hr />
      <div class="row">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/QB5ypzhIMA8"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="welcome">Welcome to Boot Camp</h3>
          <p>
            This video introduces you to SICSS boot camp, explains our
            philosophy, and tells you how to get started (2:44).
          </p>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
      <hr class="my-5" />
      <div class="row">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/ulIv0NiVTs4"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="install">Installing RStudio</h3>
          <p>
            An introduction to open-source software that teaches you how to
            install both R and Rstudio and customize your interface (14:11).
          </p>

          <h5>Additional Resources</h5>
          <ul>
            <li>
              <a href="https://rstudio-education.github.io/hopr/starting.html"
                >Installing Rstudio on Windows/Mac</a
              >
            </li>
          </ul>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
      <hr class="my-5" />
      <div class="row">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/vVcH_OvrLEM"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="basics">R Basics</h3>
          <p>
            Create and name different types of objects (e.g. vectors and
            dataframes) and learn about different classes of objects (e.g.
            numeric vs. string) as well as special features that make RStudio
            easier to use (17:36).
          </p>

          <h5>Materials from Video</h5>
          <ul>
            <li>
              <a
                href="https://compsocialscience.github.io/summer-institute/assets/datasets/Coronavirus_Tweets.Rdata"
                >Coronavirus Tweets Dataset</a
              >
            </li>
          </ul>
          <h5>Additional Resources</h5>
          <ul>
            <li>
              <a href="https://r4ds.had.co.nz/workflow-basics.html"
                >R for Data Science (Chapter 4)</a
              >
            </li>
          </ul>
          <h5>Exercises</h5>
          <ul>
            <li><a href="{{ site.baseurl }}/boot_camp/r_basics">R Basics Quiz</a></li>
          </ul>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
      <hr class="my-5" />
      <div class="row">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/sXVP9256JSQ"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="wrangling">Data “Wrangling”</h3>
          <p>
            Learn how to clean, reshape, and restructure data with the tidyverse
            (22:45).
          </p>

          <h5>Materials from Video</h5>
          <ul>
            <li>
              <a
                href="https://compsocialscience.github.io/summer-institute/assets/datasets/Apple_Mobility_Data.Rdata"
                >Apple Mobility Dataset</a
              >
            </li>
          </ul>
          <h5>Additional Resources</h5>
          <ul>
            <li>
              <a href="https://r4ds.had.co.nz/wrangle-intro.html"
                >R for Data Science (Chapters 9-13)</a
              >
            </li>
          </ul>
          <h5>Exercises</h5>
          <ul>
            <li>Coming Soon</li>
          </ul>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
      <hr class="my-5" />
      <div class="row">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/G2lMBNkbggg"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="visualization">Visualization</h3>
          <p>Learn how to visualize your data using ggplot (30:54)</p>

          <h5>Materials from Video</h5>
          <ul>
            <li>
              <a
                href="https://compsocialscience.github.io/summer-institute/assets/datasets/apple_mobility_data.csv"
                >Apple Mobility .csv file</a
              >
            </li>
          </ul>
          <h5>Additional Resources</h5>
          <ul>
            <li>
              <a href="https://r4ds.had.co.nz/data-visualisation.html"
                >R for Data Science (Chapters 3 & 28)</a
              >
            </li>
          </ul>
          <h5>Exercises</h5>
          <ul>
            <li>Coming Soon</li>
          </ul>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
      <hr class="my-5" />
      <div class="row">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/iP1SU5zBIxE"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="programming">Basic Programming</h3>
          <p>
            Write functions, loops, and learn how to debug your code (28:32)
          </p>

          <h5>Materials from Video</h5>
          <ul>
            <li>
              <a
                href="https://compsocialscience.github.io/summer-institute/assets/datasets/Senators_Data.Rdata"
                >Senators Dataset</a
              >
            </li>
          </ul>
          <h5>Additional Resources</h5>
          <ul>
            <li>
              <a href="https://r4ds.had.co.nz/program-intro.html"
                >R for Data Science (Chapters 17-21)</a
              >
            </li>
          </ul>
          <h5>Exercises</h5>
          <ul>
            <li>Coming Soon</li>
          </ul>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
      <hr class="my-5" />
      <div class="row">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/Ql_vfdAec2Y"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="modeling">Modeling</h3>
          <p>Bivariate plots, multivariate regression, and more (14:32)!</p>

          <h5>Materials from Video</h5>
          <ul>
            <li>
              <a
                href="https://compsocialscience.github.io/summer-institute/assets/datasets/Wapo_Opioid_Data.Rdata"
                >Opioid Dataset</a
              >
            </li>
          </ul>
          <h5>Additional Resources</h5>
          <ul>
            <li>
              <a href="https://r4ds.had.co.nz/model-intro.html"
                >R for Data Science (Chapters 22-25)</a
              >
            </li>
          </ul>
          <h5>Exercises</h5>
          <ul>
            <li>Coming Soon</li>
          </ul>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
      <hr class="my-5" />
      <div class="row pb-5">
        <div class="col-md-8" id="overview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              width=""
              height=""
              src="https://www.youtube.com/embed/98IcckSOfnw"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!--/col-->
        <div class="col-md-4">
          <h3 id="communicate">Communicating and Collaborating</h3>
          <p>RMarkdown, Rpres, Shiny and Github (23:16)</p>

          <h5>Additional Resources</h5>
          <ul>
            <li>
              <a href="https://r4ds.had.co.nz/communicate-intro.html"
                >R for Data Science (Chapters 26 & 27)</a
              >
            </li>
          </ul>
          <h5>Exercises</h5>
          <ul>
            <li>Coming Soon</li>
          </ul>
        </div>
        <!-- /col -->
      </div>
      <!--/row-->
    </div>
    <!--/container-->

    {% include footer.html %}
  </body>
</html>
