{% include setup_data.html %}
<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">
    {% include navbar.html %}
    <!-- Start content -->
    {% include hero_secondary.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#overview">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day_1">Day 1: Introduction and Ethics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day_2">Day 2: Collecting Digital Trace Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day_3">Day 3: Automated Text Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day_4">Day 4: Surveys in the Digital Age</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day_5">Day 5: Mass Collaboration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day_6">Day 6: Experiments</a>
            </li>
          </ul>
        </div><!-- /col -->
        
        <div class="col-md-8" id="overview">
          <h2 class="display-4">Overview</h2>
          <p class="lead">
            Because we are committed to open and reproducible research, all materials created by faculty and students for the Summer
            Institute will be released open source.
          </p>
          <div class="row" id="day_1">
            <div class="col-sm-12">
              <hr class="mt-5 mb-4">
              <h3 class="h3 mb-4">Day 1: Introduction and Ethics</h3>
            </div><!--/col-->
            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">1</span> Introduction to computational social science
                </div><!--/card-header-->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/EF7X9wwl0q4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/EF7X9wwl0q4" class="card-link">Video</a>
                    <a href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/02-intro-computational-social-science.pdf" class="card-link">Slides</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">2</span> Why SICSS?
                </div><!--/card-header-->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ae_NQFvF1Dc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/ae_NQFvF1Dc" class="card-link">Video</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day1-intro-ethics/bail_why_sicss/Why_SICSS.html" class="card-link">Slides</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">3</span> Ethics: Principles-based approach
                </div><!--/card-header-->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/H_3qbmlZsp0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/H_3qbmlZsp0" class="card-link">Video</a>
                    <a href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/03-ethics.pdf" class="card-link">Slides</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">4</span> Four areas of difficulty: informed consent, informational risk, privacy, and making decisions in the face of uncertainty
                </div><!--/card-header-->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/75qv8d8SXW0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/75qv8d8SXW0" class="card-link">Video</a>
                    <a href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/04-areas-of-difficulty.pdf" class="card-link">Slides</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">5</span> Introduction to the group exercise
                </div><!--/card-header-->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8gZ1Ect958M" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/8gZ1Ect958M" class="card-link">Video</a>
                    <a href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/05-intro-group-exercise.pdf" class="card-link">Slides</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white">
                  <span class="badge badge-dark">6</span> Group exercise
                </div><!--/card-header-->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/activity/lesson_plan_ethics.md"
                    class="card-link">Lesson Plan</a></li>
                  <li class="list-group-item"><a href="https://github.com/compsocialscience/summer-institute/blob/master/2019/materials/day1-intro-ethics/activity/ethics_case_study.pdf"
                    class="card-link">Case Study 1</a></li>
                  <li class="list-group-item"><a href="https://bdes.datasociety.net/wp-content/uploads/2016/10/Patreon-Case-Study.pdf" class="card-link">Case Study
                    2</a></li>
                </ul>
              </div><!--/card-->
            </div><!--/col-->
          </div><!--/row-->

          <!-- Day 2 -->
          <div class="row" id="day_2">
            <div class="col-lg-12">
              <hr class="mt-5 mb-4">
              <h3 class="h3 mb-4">Day 2: Collecting Digital Trace Data</h3>
            </div><!--/col-->
            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">1</span> What is digital trace data?
                </div><!--/card-header-->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q4EG4rSBq2U" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/q4EG4rSBq2U" class="card-link">Video</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/what-is-digital-trace-data/What_is_Digital_Trace_Data.html" class="card-link">Slides</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">2</span> Strengths and weakness of digital trace data
                </div><!--/card-header-->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fQDXOFqLPys" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/fQDXOFqLPys" class="card-link">Video</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/strengths-weaknesses/Rpres/Strengths_and_Weaknesses.html" class="card-link">Slides</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/strengths-weaknesses/rmarkdown/Strengths_and_Weaknesses.html" class="card-link">Annotated Code</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">3</span> Screen-Scraping
                </div><!--/card-header-->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4KeK73JMVwM" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/4KeK73JMVwM" class="card-link">Video</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/screenscraping/Rpres/Screenscraping.html" class="card-link">Slides</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/screenscraping/rmarkdown/Screenscraping.html" class="card-link">Annotated Code</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">4</span> Application Programming Interfaces
                </div><!--/card-header-->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jKdzOAqpN3o" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/jKdzOAqpN3o" class="card-link">Video</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/apis/Rpres/APIs.html" class="card-link">Slides</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/apis/rmarkdown/Application_Programming_interfaces.html" class="card-link">Annotated Code</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white border-0">
                  <span class="badge badge-dark">5</span> Building Apps and Bots for Social Science Research
                </div><!--/card-header-->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ypx6lYReHSM" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div><!--/embed-->
                <div class="card-body">
                  <div class="card-text">
                    <a href="https://youtu.be/Ypx6lYReHSM" class="card-link">Video</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/building-apps-bots/Rpres/Building_Apps_for_Social_Science_Research.html" class="card-link">Slides</a>
                    <a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/building-apps-bots/rmarkdown/Building_Apps_and_Bots_for%20Social_Science_Research.html" class="card-link">Annotated Code</a>
                  </div><!--/card-text-->
                </div><!--/card-body-->
              </div><!--/card-->
            </div><!--/col-->

            <div class="col-lg-12">
              <div class="card border-0 mb-5">
                <div class="card-header bg-white">
                  <span class="badge badge-dark">6</span> Group exercise
                </div><!--/card-header-->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://compsocialscience.github.io/summer-institute/2019/materials/day2-digital-trace-data/Group_Exercise_Day_2.html"
                    class="card-link">Group Exercise</a></li>
                </ul>
              </div><!--/card-->
            </div><!--/col-->
          </div><!--/row-->

          <!-- Day 3 -->
          <div class="row">
            <div class="col-lg-12">
              <hr class="mt-5 mb-4">
              <h3 class="h3 mb-4">Day 3: Automated Text Analysis</h3>
            </div><!--/col-->
          </div><!--/row-->

        </div><!--/col-->
      </div><!--/row-->


    </div><!--/container-->
  
    <footer class="bg-dark py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <a class="" href="index.html">
              <img src="images/sicss-logo.svg" width="" height="30" alt="">
            </a>
            <p class="text-light py-3"><small>&copy; 2019 SICSS</small></p>
          </div><!--/col-->
          <div class="col-sm-10">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-light" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="locations.html">Locations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="curriculum.html">Curriculum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="people.html">People</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="apply.html">Apply</a>
              </li>
            </ul>
          </div><!--/col-->
        </div><!--/row-->
      </div><!--/container-->
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>