{% include setup_data.html %}
<!doctype html>
<html lang="en">
    <head>
        {% include header.html %}
    </head>
    <body class="sub-page">
        {% include navbar.html %}
        <!-- Start content -->
        {% include hero_secondary.html %}
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="overview">
                    <h2 class="display-4">Overview</h2>
                    <p class="lead">We provide state-of-the art training in a range of different areas in computational social science from ethics to text analysis and mass collaboration. Below you can find videos, slides, code, and teaching exercises. These lectures assume a basic, working knowledge of the R language. If you do not yet know R,<a href="https://education.rstudio.com/">this resource</a> is a great place to start. If you are a teacher, the source code for all of our teaching materials is available <a href="https://github.com/compsocialscience/summer-institute/tree/master/2019/materials">here</a>. Or, check out alternative  curricula developed by organizers of SICSS partner sites <a href="https://github.com/compsocialscience/summer-institute/blob/master/_data/alternative_curriculum.md">here</a> that include material in different software languages and for different types of audiences.</p>
                </div>
            </div>
            {% include curriculum_listing.html %}
        </div>
        {% include footer.html %}
    </body>
</html>