{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en" class="year_{{ year }}">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">

    {% include navbar.html %}

    {% include hero_secondary.html %}

    {% include breadcrumb.html %}
    <div class="container">
        <div class="row">

          {% include sidebar.html %}

          <div class="col-md-8 mb-5">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="display-4" id="overview">Overview</h2>
                <p class="lead">
                  You can host a partner location of the Summer Institutes of Computational Social Science (SICSS) at your university,
                  company, NGO, or government agency. For universities, SICSS provides an exciting approach to training and building
                  interdisciplinary community. For companies, NGOs, and government agencies, hosting a parter location enables building
                  connections with the academic community, providing training for current employees, and recruiting future employees.
                </p>
              </div>
            </div>
            <br />
            {{content}}
          </div>
        </div>
  
  
      </div>

    {% include footer.html %}
  </body>
</html>
