{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en" class="year_{{ year }}">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">

    {% include navbar.html %}

    {% include hero_secondary.html %}

    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#overview">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#hosting_a_partner_location">Hosting a Partner Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#previous_partner_locations">Previous Partner Locations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mission_and_guiding_principles">Mission and Guiding Principles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how_to_apply">How to Apply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how_to_apply">Frequently Asked Questions</a>
              </li>
            </ul>
          </div><!-- /col -->
          
          <div class="col-md-8 mb-5">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="display-4" id="overview">Overview</h2>
                <p class="lead">
                  You can host a partner location of the Summer Institutes of Computational Social Science (SICSS) at your university,
                  company, NGO, or government agency. For universities, SICSS provides an exciting approach to training and building
                  interdisciplinary community. For companies, NGOs, and government agencies, hosting a parter location enables building
                  connections with the academic community, providing training for current employees, and recruiting future employees.
                </p>
              </div><!--/col-->
            </div><!--/row-->
            <h3 id="hosting_a_partner_location" class="mt-5">Hosting a partner location</h3>
            
            <p>Starting in 2018, the Summer Institutes in Computational Social Science (SICSS) began including partner locations in
              order to increase the number of participants. The Summer Institute is two weeks long and parter locations typically
              involve: 1) live-streamed lectures on topics ranging from automated text analysis to ethics; 2) training exercises to
              reinforce key ideas from lectures; 3) live-streamed research talks from leaders in the field; and 4) participant-led
              group research projects. This model has been used successfully at universities and companies around the world.</p>
            
            <p>The Summer Institutes are highly modular and the open source curriculum can be adapted to the skills and interests at
              each location. The minimum budget to support a partner location is about $15,000 but depends on local conditions. Here
              are some <a
                href="https://docs.google.com/spreadsheets/d/1_2BimdmWNLSVYqTmwrEZcQxv3j3LCyU0hQyW0vZYCk8/edit?usp=sharing">sample
                budgets</a>. If you have more questions about budgeting—or grants that may be available to support partner
              locations—please contact us at rsfcompsocsci[at]gmail[dot]com.</p>
            
            <p>In order to ensure quality and consistency, all partner locations must have a former participant of SICSS as one of
              the local organizers. If you don’t have any SICSS alumni at your organization, you can contact us about finding a
              former participant that could collaborate with you. For example, in 2019 Matti Nelimarkka (SICSS ‘17) collaborated
              with Akın Ünver to run a partner location in <a
                href="https://compsocialscience.github.io/summer-institute/2019/istanbul/">Istanbul, Turkey (Kadir Has
                University)</a>.</p>
            
            <h3 id="previous_partner_locations" class="mt-5">Previous partner locations</h3>
            
            <p><img src="https://raw.githubusercontent.com/compsocialscience/summer-institute/master/2019/sicss_collage.png"
                alt="Collage of partner location" /></p>
            
            <h5 id="2018">2018</h5>
            
            <p>There were 7 partner locations in 2018: <a
                href="https://compsocialscience.github.io/summer-institute/2018/hunter-nyc/">Hunter College</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2018/nyu-nyc/">New York University</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2018/chicago/">Northwestern University</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2018/capetown/">University of Cape Town</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2018/boulder">University of Colorado</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2018/helsinki">University of Helsinki</a>, and <a
                href="https://compsocialscience.github.io/summer-institute/2018/seattle/">University of Washington</a>.</p>
            
            <h5 id="2019">2019</h5>
            
            <p>There were 11 partner location in 2019: <a
                href="https://compsocialscience.github.io/summer-institute/2019/bamberg/">Bamberg, Germany (University of
                Bamberg)</a>, <a href="https://compsocialscience.github.io/summer-institute/2019/boston/">Boston, MA (MIT)</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2019/capetown">Cape Town, South Africa (University of
                Cape Town)</a>, <a href="https://compsocialscience.github.io/summer-institute/2019/chicago/">Chicago, IL
                (Northwestern University)</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2019/istanbul/">Istanbul, Turkey (Kadir Has
                University)</a>, <a href="https://compsocialscience.github.io/summer-institute/2019/los-angeles/">Los Angeles, CA
                (UCLA)</a>, <a href="https://compsocialscience.github.io/summer-institute/2019/monterrey/">Monterrey, Mexico
                (Universidad Autónoma de Nuevo León)</a>, <a
                href="https://compsocialscience.github.io/summer-institute/2019/oxford/">Oxford, United Kingdom (Oxford
                University)</a>, <a href="https://compsocialscience.github.io/summer-institute/2019/hunter-nyc/">New York, NY
                (Hunter College-CUNY)</a>, <a href="https://compsocialscience.github.io/summer-institute/2019/rtp/">Research
                Triangle Park, NC (RTI International)</a>, and <a
                href="https://compsocialscience.github.io/summer-institute/2019/ethzurich/">Zürich, Switzerland (ETH Zürich)</a>.
            </p>
            
            <h3 id="mission_and_guiding_principles" class="mt-5">Mission and guiding principles</h3>
            
            <p>The mission of the Summer Institutes in Computational Social Science is to provide open, high-quality training in
              computational social science to researchers around the world in order to accelerate the growth of the field and ensure
              that it develops practices that are in the long-term interests of science and society.</p>
            
            <p>As we work toward this mission, we will be guided by the following principles:</p>
            
            <ol>
              <li>
                <p>The training provided by SICSS will be free to participants.</p>
              </li>
              <li>
                <p>All materials that organizers develop will be released open source.</p>
              </li>
              <li>
                <p>Funders and partners will have no impact on content. Our firewall between funding and content will be modeled on
                  high-quality news organizations, such as the <em>New York Times</em> and <em>National Public Radio</em>.</p>
              </li>
            </ol>
            
            <h3 id="how_to_apply" class="mt-5">How to Apply</h3>
            
            <p>In order to apply to host a partner site, please submit <a
                href="https://docs.google.com/document/d/1E_9pcF3D7qbMUqKdGm8-bokOa_32l-dBylzT8HYviBA/edit?usp=sharing">this
                form</a> to rsfcompsocsci[at]gmail[dot]com by November 1st, 2019. We will make our best effort to get back to you by
              November 15th, 2019.</p>
            
            <h3 id="frequently_asked_questions" class="mt-5">Frequently asked questions</h3>
            
            <h5 class="mt-5">What if I can’t run the partner location during the scheduled dates?</h5>
            
            <p>That’s fine. <a href="https://compsocialscience.github.io/summer-institute/2018/boulder/">SICSS 2018 in Boulder,
                Colorado</a> and <a href="https://compsocialscience.github.io/summer-institute/2019/bamberg/">SICSS 2019 in Bamberg,
                Germany</a> both happened at different times from the other partner locations.</p>
            
            <h5 class="mt-5">What if I want to host a partner location in a different time zone from other locations?</h5>
            
            <p>That’s fine. Each year we have locations spread around the world. A common strategy is to watch the recordings of the
              lectures rather than the livestreamed version.</p>
            
            <h5 class="mt-5">How can I learn more about what it is like at a partner location?</h5>
            
            <p>At the end of each year, we write a post-mortem that describes what went well and what could be better at each of the
              partner locations. Here’s our <a
                href="https://msalganik.wordpress.com/2018/08/07/summer-institutes-in-computational-social-science-2018-post-mortem/">2018
                post-mortem</a>. Also, here are some articles and blog posts about the Summer Institutes:</p>
            <ul>
              <li><a href="https://www.princeton.edu/news/2019/07/16/summer-institute-advances-social-science-digital-age">Summer
                  institute advances social science in the digital age</a></li>
              <li><a href="https://www.rti.org/insights/using-data-science-solve-social-science-dilemmas">Using Data Science to
                  Solve Social Science Dilemmas: Exploring the promises and problems of big data at the Summer Institute In
                  Computational Social Science</a></li>
              <li><a
                  href="https://ocean.sagepub.com/blog/2018/9/10/two-weeks-at-the-summer-institute-for-computational-social-science">Two
                  weeks at the Summer Institute for Computational Social Science</a></li>
              <li><a
                  href="https://sssw.hunter.cuny.edu/professor-maria-rodriguez-and-princeton-based-institute-bring-computational-social-science-researchers-to-silberman/">Professor
                  Maria Rodriguez and Princeton-based Institute Bring Computational Social Science Researchers to Silberman</a></li>
              <li><a
                  href="https://ocean.sagepub.com/blog/a-great-measure-of-our-success-is-the-community-that-sicss-creates-chris-bail-and-matt-salganik-on-the-summer-institute-in-computational-social-science">‘A
                  great measure of our success is the community that SICSS creates’. Chris Bail and Matt Salganik on the Summer
                  Institute in Computational Social Science</a></li>
              <li>
                <p><a
                    href="https://ocean.sagepub.com/blog/new-ways-of-thinking-about-social-science-research-my-time-at-the-summer-institute-in-computational-social-science">New
                    ways of thinking about social science research. My time at the Summer Institute in Computational Social
                    Science</a></p>
              </li>
              <li><em>Do you have any sample budgets?</em></li>
            </ul>
            
            <p>Yes. Here are some <a
                href="https://docs.google.com/spreadsheets/d/1_2BimdmWNLSVYqTmwrEZcQxv3j3LCyU0hQyW0vZYCk8/edit?usp=sharing">sample
                budgets</a> for a partner location with 20 participants. However, you will need to adjust the numbers to align with
              the costs at your location.</p>
          </div><!--/col-->
        </div><!--/row-->
  
  
      </div><!--/container-->

    {% include footer.html %}
  </body>
</html>