{% include setup_data.html %}
<!-- {% include setup_locations_by_year.inc %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body class="sub-page">
    {% include navbar.html %} {% include hero_secondary.html %}
    <!-- Start content -->
    <section>
      <div class="container default">
        <h2 class="page-title">SICSS - IN THE NEWS</h2>
        <div id="in-the-news-container">
          <section style="width: 100%">
            <div id="in-the-news-year-container">
              <p id="in-the-news-year">2023</p>
              <span id="in-the-news-line"></span>
            </div>

            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://news.syr.edu/blog/2023/03/16/newhouse-postdoctoral-scholar-to-co-lead-summer-institute/"
                  target="_blank"
                >
                  Newhouse Postdoctoral Scholar to Co-Lead Summer Institute
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: Syracuse University News
                </p>
                <p id="in-the-news-date">March 16, 2023</p>
              </div>
            </div>
          </section>

          <section style="width: 100%">
            <div id="in-the-news-year-container">
              <p id="in-the-news-year">2022</p>
              <span id="in-the-news-line"></span>
            </div>

            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://dukemag.duke.edu/stories/unsocial-media"
                  target="_blank"
                >
                  Unsocial Media: Sociologist Chris Bail calls for a reset of
                  our partisan digital divide
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: Duke Magazine
                </p>
                <p id="in-the-news-date">December 01, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://www.kdischool.ac.kr/gallery.es?mid=a30101000000&bid=0003&list_no=17607&act=view"
                  target="_blank"
                >
                  KDI School and KAIST organized the first Summer Institute in
                  Computational Social Science (SICSS) in Korea
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: KDI School of Public Policy and Management News
                  Center
                </p>
                <p id="in-the-news-date">September 27, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://www.digitalottomanstudies.com/post/summerschool"
                  target="_blank"
                >
                  My Notes on Summer School in Computational Social Sciences
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: Digital Ottoman Studies
                </p>
                <p id="in-the-news-date">December 19, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://www.sydney.edu.au/arts/news-and-events/news/2022/06/23/what-is-computational-social-science.html"
                  target="_blank"
                >
                  What is computational social science? How social science
                  researchers are using big data to understand human behavior at
                  scale
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: University of Sydney News
                </p>
                <p id="in-the-news-date">June 23, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://portal.fgv.br/en/news/fgv-holds-second-brazilian-edition-summer-institute-computational-social-science"
                  target="_blank"
                >
                  FGV holds the second Brazilian edition of the Summer Institute
                  in Computational Social Science
                </a>
                <p class="my-2" id="in-the-news-subtitle">Posted By: FGV</p>
                <p id="in-the-news-date">March 25, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://jurnal.republika.co.id/posts/167064/pertama-di-indonesia-fti-uii-gelar-sicss-jogja-2022"
                  target="_blank"
                >
                  The first in Indonesia, UII was selected for the 2022 SICSS
                  title [Indonesian]
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: Republika Online
                </p>
                <p id="in-the-news-date">July 22, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://www.jogpaper.net/sicss-cara-baru-mengolah-big-data-bidang-ilmu-sosial/"
                  target="_blank"
                >
                  A new way to process big data in the field of social sciences
                  [Indonesian]
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: Jogpaper.net
                </p>
                <p id="in-the-news-date">July 23, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://magazine.howard.edu/stories/beyond-the-numbers"
                  target="_blank"
                >
                  Beyond the Numbers - Howard is Preparing to Educate the Next
                  Generation of Black Data Scientists
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: Howard Magazine
                </p>
                <p id="in-the-news-date">June 21, 2022</p>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body" style="justify-content: space-around">
                <a
                  class="card-title"
                  id="in-the-news-article-title"
                  href="https://www.washingtonpost.com/business/2022/06/22/women-scientists-authorship-credit-study/"
                  target="_blank"
                >
                  Female scientists don't get the credit they deserve. A study
                  proves it
                </a>
                <p class="my-2" id="in-the-news-subtitle">
                  Posted By: The Washington Post
                </p>
                <p id="in-the-news-date">June 22, 2022</p>
              </div>
            </div>
          </section>
        </div>
        <section style="width: 100%">
          <div id="in-the-news-year-container">
            <p id="in-the-news-year">2021</p>
            <span id="in-the-news-line"></span>
          </div>

          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://ocean.sagepub.com/blog/skills/from-princeton-to-london-via-chicago-my-summer-institute-in-computational-social-science-story"
                target="_blank"
              >
                From Princeton to London via Chicago: My Summer Institute in
                Computational Social Science journey
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: SAGE Ocean Blog
              </p>
              <p id="in-the-news-date">March, 8, 2021</p>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://www.demographicscience.ox.ac.uk/post/the-oxford-summer-institute-in-computational-social-science-online-and-a-resounding-success"
                target="_blank"
              >
                The Oxford Summer Institute in Computational Social Science -
                online and a resounding success!
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: Leverhulme Centre for Demographic Science
              </p>
              <p id="in-the-news-date">July 29, 2021</p>
            </div>
          </div>
        </section>

        <section style="width: 100%">
          <div id="in-the-news-year-container">
            <p id="in-the-news-year">2020</p>
            <span id="in-the-news-line"></span>
          </div>

          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://www.research-in-bavaria.de/computational-social-science"
                target="_blank"
              >
                Social Scientist 2.0: Paving the Way in Computational Methods
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: University of Bamberg
              </p>
              <p id="in-the-news-date">December 2, 2020</p>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://scatter.wordpress.com/2020/11/11/ai-gender-bias-and-computational-social-science/"
                target="_blank"
              >
                ai gender bias and computational social science
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: Scatterplot Blog
              </p>
              <p id="in-the-news-date">November 11, 2020</p>
            </div>
          </div>
        </section>
        <section style="width: 100%">
          <div id="in-the-news-year-container">
            <p id="in-the-news-year">2019</p>
            <span id="in-the-news-line"></span>
          </div>

          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://www.methodspace.com/blog/a-great-measure-of-our-success-is-the-community-that-sicss-creates-chris-bail-and-matt-salganik-on-the-summer-institute-in-computational-social-science"
                target="_blank"
              >
                'A great measure of our success is the community that SICSS
                creates'. Chris Bail and Matt Salganik on the Summer Institute
                in Computational Social Science
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: Sage Methodpace
              </p>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://podcasts.apple.com/us/podcast/workshop-on-non-probability-surveys/id1487299051?i=1000458064090"
                target="_blank"
              >
                Workshop on non-probability surveys: Summer Institute in
                Computational Social Sciences (SICSS) 2019 [Podcast]
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: University of Oxford on Apple Podcasts
              </p>
              <p id="in-the-news-date">2019</p>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://www.princeton.edu/news/2019/07/16/summer-institute-advances-social-science-digital-age"
                target="_blank"
              >
                Summer institute advances social science in the digital age
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: Princeton University News
              </p>
              <p id="in-the-news-date">July 16, 2019</p>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://cssh.northeastern.edu/socant/two-phd-students-jeff-sternberg-and-rebekah-getman-accepted-to-the-summer-institute-in-computational-social-science/"
                target="_blank"
              >
                Two PhD Students, Jeff Sternberg and Rebekah Getman, accepted to
                the Summer Institute in Computational Social Sciences
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: Northeastern University Department of Sociology &
                Anthropology
              </p>
              <p id="in-the-news-date">May 7, 2019</p>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://penntoday.upenn.edu/news/echo-chambers-may-not-be-dangerous-you-think"
                target="_blank"
              >
                Echo chambers may not be as dangerous as you think
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: University of Pennsylvania Penn Today
              </p>
              <p id="in-the-news-date">May 14, 2019</p>
            </div>
          </div>
        </section>

        <section style="width: 100%">
          <div id="in-the-news-year-container">
            <p id="in-the-news-year">2018</p>
            <span id="in-the-news-line"></span>
          </div>

          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://rajapinta.co/2018/08/06/the-project-week-of-the-summer-institute-for-computational-social-science-at-helsinki/"
                target="_blank"
              >
                The Project Week of the Summer Institute for Computational
                Social Science at Helsinki
              </a>
              <p class="my-2" id="in-the-news-subtitle">Posted By: Rajapinta</p>
              <p id="in-the-news-date">August 6, 2018</p>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body" style="justify-content: space-around">
              <a
                class="card-title"
                id="in-the-news-article-title"
                href="https://escience.washington.edu/escience-institute-co-hosts-computational-social-science-conference/"
                target="_blank"
              >
                eScience Institute co-hosts computational social science
                conference
              </a>
              <p class="my-2" id="in-the-news-subtitle">
                Posted By: University of Washington eScience News
              </p>
              <p id="in-the-news-date">2018</p>
            </div>
          </div>
        </section>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
