{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">
    {% include navbar.html %}
    <!-- Start content -->
    {% include hero_secondary.html %}

    {% include breadcrumb.html %}
    <div class="container">
      <div class="row">
        {% include sidebar.html %}
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12 mb-5">
            {% if page.main %}
              {% if page.image %}
              {% assign image_prefix = page.image | slice: 0, 4 %}
              {% if image_prefix == "http" %}
              {% assign image_url = page.image %}
              {% else %}
              {% assign image_url = page.image | prepend: site.baseurl %}
              {% endif %}
              {% if page.partner_site == "johannesburg" %}
	      	{% if page.img-title %}
		{% assign img-title = page.img-title %}
		{% else %}
		{% assign img-title = 'Image' %}
		{% endif %}
		<figure align='center'>
              		<p align='center'>
		              <img src="{{image_url}}" alt="{{page.partner_site}}" class="joburg translate-middle-x rounded mb-3">
			      {% if page.img-license and page.img-author%}
			      <figcaption style='text-align:center;'>{{img-title}} by {{page.img-author}}, licensed under {{page.img-license}}</figcaption>
			      {% endif %}
	        	</p>
		</figure>
	      {% else %}
	              <img src="{{image_url}}" alt="{{page.partner_site}}" class="img-fluid rounded mb-3">
	      {% endif %}	      		
              {% endif %}
              <h2 class="display-4">{{page.location}}</h2>
              {{content}}
            {% elsif page.people %}
              <h2 class="display-4">People</h2>
              {% assign urlparts = page.url | split: "/" %}
              {% assign year = urlparts[1] %}
              {% assign location = urlparts[2] %}
              {% assign people = site.data[year][location].people %}
              {% if people %}
                {% include people_listing.html %}
              {% else %}
                {% include people_listing_secondary.html content='Faculty' %}
                {% include people_listing_secondary.html content='Speakers' %}
                {% include people_listing_secondary.html content='Teaching Assistants' %}
                {% include people_listing_secondary.html content='Participants' %}
              {% endif %}
            {% elsif page.schedule %}
              <h2 class="display-4 mb-4">Schedule & Materials</h2>
              {% include schedule.html %}
            {% elsif page.apply %}
              <h1 class="display-4">Apply</h1>
              <h3 class="h3 mb-5">Application overview and process.</h3>
              {{content}}
            {% elsif page.models %}
              <h2 class="display-4">Formal Models in Social Science</h2>
              {{content}}
            {% else %}
              <!-- Generic detail page -->
              {{content}}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="bg-secondary text-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="display-5 text-center text-uppercase font-weight-light">Host a Location</h2>
            <p class="text-center lead">You can host a partner location of the Summer Institutes of Computational Social Science (SICSS) at your university,
            company, NGO, or government agency.</p>
            <p class=text-center><a href="{{site.baseurl}}/2020/host" class="btn btn-dark">Learn More</a></p>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
