{% include setup_data.html %} {% include setup_locations_by_year.inc %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Summer Institute in Computational Social Science — Locations</title>
  </head>
  <body class="sub-page">
    {% include navbar.html %}
    <!-- Start content -->
    {% include hero_secondary.html %} {% include breadcrumb.html %}
    <div class="container">
      <!-- Locations -->
      <div class="row">
        <div class="col-sm-12">
          <h2 class="display-4">Locations, past and present</h2>
          <p class="lead">
            Starting in 2018, the Summer Institutes in Computational Social
            Science (SICSS) began including partner locations in order to
            increase the number of participants.
          </p>
        </div>
        <!--/col-->
      </div>
      <!--/row-->
      <div class="row">
        <div class="col-sm-12 mb-5">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              src="https://www.google.com/maps/d/embed?mid=1209PanKId92WptsFB62RO_BvpFcOg7kp"
            ></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul
            class="nav nav-tabs mb-5 d-none d-sm-flex"
            id="myTab"
            role="tablist"
          >
          {% for year in locations_by_year %}
            {% if forloop.first == true %}
              <li class="nav-item">
                <a class="nav-link active" id="year{{year.year}}-tab" data-toggle="tab" href="#year{{year.year}}" role="tab" aria-controls="year{{year.year}}"
                  aria-selected="true">{{year.year}}</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" id="year{{year.year}}-tab" data-toggle="tab" href="#year{{year.year}}" role="tab" aria-controls="year{{year.year}}"
                  aria-selected="false">{{year.year}}</a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
          <div class="tab-content" id="myTabContent">
            {% for year in locations_by_year %}
              {% if forloop.first == true %}
              <div class="tab-pane fade show active" id="year{{year.year}}" role="tabpanel" aria-labelledby="year{{year.year}}-tab">
              {% else %}
              <div class="tab-pane fade" id="year{{year.year}}" role="tabpanel" aria-labelledby="year{{year.year}}-tab">
              {% endif %}
              <div class="row">
                <div class="col-sm-12">
                  <h3>{{year.year}}</h3>
                </div>
                  {% for year_location in year.locations %}
                  {% assign location_data = year_location.location %}
                  {% assign apply_data = year_location.apply %}
                      <!-- <script>
                        var data = {{year_location | json}}
                        setTimeout(function () {
                         console.log('FIRING THIS ONE')
                         console.log(data)
                        }, 20);
                      </script> -->
                    <div class="col-sm-4 mb-5">
                      <div class="card border-0" id="bamberg">
                        <div class="embed-responsive embed-responsive-16by9">
                          <img class="embed-responsive-item card-img-top" src="{{location_data.image}}" alt="Find a location" loading="lazy" />
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{location_data.title}}</h5>
                          <h6 class="card-subtitle mb-4 text-muted">
                            {{year_location.image}}
                            Bamberg, Germany
                          </h6>
                          <a href="bamberg.html" class="btn btn-dark btn-sm stretched-link">Learn More</a>
                        </div>
                        <!-- /card-body -->
                      </div>
                      <!-- /card -->
                    </div>
                    <!-- /col -->
                  {% endfor %}
              </div>
              <!-- /row -->
            </div>
            {% endfor %}
            <div
              class="tab-pane fade"
              id="contact"
              role="tabpanel"
              aria-labelledby="contact-tab"
            >
              ...
            </div>
          </div>
          <!-- /tab-content -->
        </div>
        <!-- /col-sm-12 -->
      </div>
      <!-- / row -->
    </div>
    <!-- /container -->

    <section class="bg-secondary text-white py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="display-5 text-center text-uppercase font-weight-light">
              Host a Location
            </h2>
            <p class="text-center lead">
              You can host a partner location of the Summer Institutes of
              Computational Social Science (SICSS) at your university, company,
              NGO, or government agency.
            </p>
            <p class="text-center">
              <a href="host.html" class="btn btn-dark">Learn More</a>
            </p>
          </div>
          <!--col-->
        </div>
        <!--/row-->
      </div>
      <!--/container-->
    </section>

    <footer class="bg-dark py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <a class="" href="index.html">
              <img src="images/sicss-logo.svg" width="" height="30" alt="" />
            </a>
            <p class="text-light py-3"><small>&copy; 2019 SICSS</small></p>
          </div>
          <!--/col-->
          <div class="col-sm-10">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-light" href="index.html"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="locations.html"
                  >Locations</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="curriculum.html"
                  >Curriculum</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="people.html">People</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="apply.html">Apply</a>
              </li>
            </ul>
          </div>
          <!--/col-->
        </div>
        <!--/row-->
      </div>
      <!--/container-->
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
