{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body class="sub-page">
    {% include navbar.html %}
    <!-- Start content -->
    {% include hero_secondary.html %}
    <!--/jumbotron-->
    {% include breadcrumb.html %}

    <!-- Start content -->
    <section>
      <div class="container">
        <div class="row">
          {% comment %} sidebar {% endcomment %} {% comment %} {% include
          videos_sidebar.html %} {% endcomment %}
          <div class="col-sm-8">{% include video_listing.html %}</div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include footer.html %}
  </body>
</html>
