{% include setup_data.html %}
{% include setup_locations_by_year.inc %}
<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">
    {% include navbar.html %}
    {% include hero_secondary.html %}
  <!-- Start content -->
  <section>
    {% include breadcrumb.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="d-none d-md-block">
            {% include people_filter.html %}
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-secondary border-0">
                <form id="participant_search_form">
                  <div class="input-group">
                    <input name="q" type="text" class="form-control" placeholder="Search participants" aria-label="Search" aria-describedby="searchHelp">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                    </div><!--/input-group-append -->
                  </div><!--/input-group -->
                </form>
              </div>
              <button type="button" class="btn btn-sm btn-secondary d-md-none d-inline-block" data-toggle="modal" data-target="#exampleModal">
                Search Filters
              </button>
            </div>
          </div>

          <div class="row d-none" id="people_search_results_container">
            <div class="col-sm-12 d-none" id="zero_searches_results_found">
              {% include no_matches.html %}
            </div>

            <div class="col-sm-12" id="search_results_listing">
              <h2 class="display-4">Search Results</h2>
              <hr />
              <br />
              <div id="people_search_results"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="display-4">Leadership Team</h2>
              <hr />
              <br />
            </div>
            <div class="col-sm-12">
            {% for leader in data.founders %}
              {% include person.html person=leader %}
            {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="display-4">Advisory Council</h2>
              <hr />
              <br />
            </div>
            <div class="col-sm-12">
            {% for advisor in data.advisory %}
              {% include person.html person=advisor %}
            {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="display-4"></h2>
              <hr />
              <br />
            </div>
            <div class="col-sm-12">
            {% for leader in data.leadership %}
              {% include person.html person=leader %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    var allPeople = {{ data.all-people-2017-2020 | jsonify }};
    allPeople = allPeople.concat({{ data.all-people-post-2020 | jsonify}});
  </script>
    {% include footer.html %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Filters</h5>
      </div>
      <div class="modal-body">
        {% include people_filter.html uniqueid="modal" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
