{% include setup_data.html %}
<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">
    {% include navbar.html %}
    {% include hero_secondary.html %}    
  <!-- Start content -->
  <section>  
    <div class="container"><!-- Directory -->
      <div class="row">
        {% include sidebar.html %}
        <div class="col-sm-8">
          {% include people_listing.html %}
        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </section>
    {% include footer.html %}
</body>
</html>