{% include setup_data.html %}
{% include setup_locations_by_year.inc %}
<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="sub-page">
    {% include navbar.html %}
    {% include hero_secondary.html %}
  <!-- Start content -->
  <section>
    <div class="container">
      <div class="row">
        {% include sidebar.html %}
        <div class="col-sm-8">
          {% if page.partner_site %}
            {% if data.people %}
              {% include people_listing.html %}
            {% endif %}
          {% else %}
            {% if data.people %}
              {% include people_listing_all.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
    {% include footer.html %}
</body>
</html>
