{% include setup_data.html %}
<!-- {% include setup_locations_by_year.inc %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body class="sub-page">
    {% include navbar.html %} {% include hero_secondary.html %}
    <!-- Start content -->
    <section>
      <div class="container">
        <h2 class="display-4 text-center">Post-Mortems</h2>
        <div class="accordion" id="accordionMenu">
          {% for year in locations_by_year %}
          <div id="postMortemContainer">
            <ul
              class="align-middle"
              type="button"
              data-toggle="collapse"
              data-target="#collapse{{forloop.index}}"
              aria-expanded="true"
              aria-controls="collapseOne"
              id="postMortemYear"
            >
              {{year.year}}
            </ul>
            <div
              class="nav collapse"
              id="collapse{{forloop.index}}"
              aria-labelledby="{{forloop.index}}"
              data-parent="#accordionMenu"
            >
              {% for year_location in year.locations %} {% assign campus =
              year_location.location %} {% assign post_mortem =
              year_location.post_mortem[0] %} {% if campus.title %} {% if
              post_mortem.title %}
              <li class="nav-item w-100">
                <a
                  class="nav-link"
                  id="postMortemItems"
                  href="{{site.baseurl}}/{{campus.year}}/post-mortem#{{campus.link}}"
                >
                  {{campus.title}} {{post_mortem.title}}
                </a>
              </li>
              <hr id="postMortemBreak" />
              {% endif %} {% endif %} {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
