<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include navbar.html %}

    <div class="container">
      {{ content }}
    </div>

    {% for section in page.sections %}
    <div class="section" id="{{ section.title | slugify }}">
      <div class="container">
        <h1>{{ section.title }}</h1>
        {% capture section_content %}{% include_relative {{ section.include }} %}{% endcapture %}
        {% assign split_by_frontmatter = section_content | split: "---" %}
        {% if split_by_frontmatter.size > 2 %}
          {{ split_by_frontmatter | shift | shift | join:"---" | markdownify }}
        {% else %}
          {{ section_content | markdownify }}
        {% endif %}
      </div>
    </div>
    {% endfor %}

    {% include footer.html %}
  </body>
</html>
