{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body class="sub-page">
    {% include navbar.html %}
    <!-- Start content -->
    {% include hero_secondary.html %}
    <!--/jumbotron-->
    {% include breadcrumb.html %}

    <!-- Start content -->
    <section>
      <div class="container">
        <div class="row">
          {% comment %} sidebar {% endcomment %}
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <!-- embed_url: -->
                  <iframe
                    width=""
                    height=""
                    src="{{ page.embed_url }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <!--/embed-->
              </div>
              <!--/col-->
            </div>
            <!--/row-->
            <div class="row justify-content-around pt-5">
              <div class="col-sm-6">
                <h2>{{ page.title }}</h2>

                <!--  if content:  -->
                {% if page.content %}
                <p class="lead">{{page.content}}</p>
                {% endif %}
                <!-- else description -->
                {% comment %}
                <p class="lead">description_seo:</p>
                {% endcomment %}

                <!--  where materials:  -->
                {% if page.materials %}
                <div class="list-group mb-4">
                  <div
                    class="list-group-item list-group-item-light text-uppercase"
                  >
                    <strong>Materials</strong>
                  </div>
                  <!--  loop materials:  -->
                  {% for material in page.materials %}
                  <a
                    href="{{material.url}}"
                    class="list-group-item list-group-item-action"
                    >{{material.title}}</a
                  >
                  {% endfor %}
                </div>
                {% endif %}

                <!--  where resources:  -->
                {% if page.resources %}
                <div class="list-group mb-5">
                  <div
                    class="list-group-item list-group-item-light text-uppercase"
                  >
                    <strong>Resources</strong>
                  </div>
                  <!--  loop resources:  -->
                  {% for resource in page.resources %}
                  <a
                    href="{{resource.url}}"
                    class="list-group-item list-group-item-action"
                    >{{resource.title}}</a
                  >
                  {% endfor %}
                </div>
                {% endif %}

                <!--  where exercises:  -->
                {% if page.exercises %}
                <div class="list-group mb-5">
                  <div
                    class="list-group-item list-group-item-light text-uppercase"
                  >
                    <strong>Exercises</strong>
                  </div>
                  <!--  loop exercises:  -->
                  {% for exercise in page.exercises %}
                  <a
                    href="{{exercise.url}}"
                    class="list-group-item list-group-item-action"
                    >{{exercise.title}}</a
                  >
                  {% endfor %}
                </div>
                {% endif %}

                <!--  where code:  -->
                {% if page.code %}
                <div class="list-group mb-5">
                  <div
                    class="list-group-item list-group-item-light text-uppercase"
                  >
                    <strong>Code</strong>
                  </div>
                  <!--  loop code:  -->
                  {% for code in page.code %}
                  <a
                    href="{{code.url}}"
                    class="list-group-item list-group-item-action"
                    >{{code.title}}</a
                  >
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              <div class="col-sm-4 pb-5">
                <div class="card">
                  <div class="card-body">
                    {% if page.venue %}
                    <h5 class="card-title">Venue: {{page.venue}}</h5>
                    {% endif %} {% if page.location %}
                    <h6 class="card-subtitle mb-2 text-muted">
                      Location: {{page.location}}
                    </h6>
                    {% endif %}

                    <!--  where author:  -->
                    {% if page.author %}
                    <p class="card-text">
                      Author: {{page.author}}, {{page.author_title}}
                    </p>
                    {% endif %} {% if page.date_published %}
                    <p class="card-text">
                      Date Published: {{page.date_published}}
                    </p>
                    {% endif %} {% if page.duration %}
                    <p class="card-text small">Duration: {{page.duration}}</p>
                    {% endif %}
                  </div>
                  <!--  where programming_lang:  -->
                  {% if page.programming_lang %}
                  <div class="card-footer">
                    <span class="badge badge-light"
                      >{{page.programming_lang}}</span
                    >
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!--/container-->
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include footer.html %}
  </body>
</html>
