{% assign urlparts = page.url | split: "/" %}
{% assign year = urlparts[1] %}
<!DOCTYPE html>
<html lang="en" class="year_{{ year }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    {% include navbar.html %}

    <div class="hero">
      <img src="{{ site.data[year].hero.image.url | prepend: site.baseurl }}" class="img-responsive center-block" title="{{ site.data[year].hero.image.title }}" alt="{{ site.data[year].hero.image.alt }}">
      <div class="hero-logo">
        <img src="{{ site.data[year].hero.large_image.url | prepend: site.baseurl }}" class="img-responsive center-block" title="{{ site.data[year].hero.large_image.title }}" alt="{{ site.data[year].hero.large_image.alt }}">
      </div>
      <div class="hero-overlay">
        <h1>{{ site.data[year].hero.header_1 }}</h1>
        <h2>{{ site.data[year].hero.header_2 }}</h2>
      </div>
      <h3>{{ site.data[year].hero.header_3 }}</h3>
    </div>
    <div class="introduction container">
      {{ content }}
    </div>
    <a id="people"></a>
    <div class="people">
      <div class="container">
        {% include faculty.html %}

        {% include speakers.html %}

        {% include teaching_assistants.html %}

        {% include participants.html %}
      </div>
    </div>
    <div class="container">
      {% capture pre_arrival %}{% include {{ year }}/pre_arrival.md %}{% endcapture %}
      {{ pre_arrival | markdownify }}
      {% include schedule.html data_key="schedule" title="Schedule and materials" %}
    </div>
    <a id="live_stream"></a>
    <div class="streaming">
      <div class="container">
        {% include live_stream.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
