{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en" class="year_{{ year }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    {% include navbar.html %}

    {% include hero.html %}

    {% include promo_three_column.html %}

    
    <section class="bg-secondary text-white py-5 mt-5">
      <div class="container">
          {% include  promo_program_overview.html data=content %}
        </div>
    </section>

    <section class="bg-secondary pb-5">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              {% include map.html %}
            </div>
          </div>
    </section>

    <section>
      {% include sponsors.html %}
    </section>

    {% include footer.html %}

  </body>
</html>
