{% include setup_data.html %}
<!DOCTYPE html>
<html lang="en" class="year_{{ year }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    {% include navbar.html %}

    {% include hero.html %}

    {% include promo_three_column.html %}

    <div class="introduction container">
      {{ content }}
    </div>

    <div class="people section">
      <a id="people"></a>
      <div class="container">
        {% if data.people %}
          {% include people.html %}
        {% else %}
          {% include faculty.html %}

          {% include speakers.html %}

          {% include teaching_assistants.html %}

          {% include participants.html %}
        {% endif %}
      </div>
    </div>

    {% if page.pre_arrival %}
      <div class="section">
        <div class="container">
          {% capture pre_arrival %}{% include_relative {{ page.pre_arrival }} %}{% endcapture %}
          {{ pre_arrival | markdownify }}
        </div>
      </div>
    {% endif %}

    {% include schedule.html data_key="schedule" title="Schedule and materials" %}

    {% if page.projects %}
      <div class="section">
        <a id="projects"></a>
        <div class="container">
          {% capture projects %}{% include_relative {{ page.projects }} %}{% endcapture %}
          {{ projects | markdownify }}
        </div>
      </div>
    {% endif %}

    {% if page.live_stream %}
      <div class="streaming section">
        <a id="live_stream"></a>
        <div class="container">
          {% capture live_stream %}{% include_relative {{ page.live_stream }} %}{% endcapture %}
          {{ live_stream | markdownify }}
        </div>
      </div>
    {% endif %}

    {% include footer.html %}
  </body>
</html>
